body {
  font-family: 'Lato', Verdana, sans-serif;
  margin: 0;
  background: #3b3b3b;
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
}

a, a:visited, a:hover {
  padding: .25rem;
  color: #f7c59f;
  text-decoration: none;
}

a:hover {
  background: #ff6b35;
  color: #fff;
}

.grid_examples_list a {
  line-height: 1.5rem;
}

.grid_examples_list a:first-of-type {
  margin-left: -.25rem;
}

header {
  padding: 1rem;
  background: #004e89;
}

header h1 {
  padding: 0;
  margin: 0;
}

section {
  padding: 1rem;
  overflow: hidden;
}

section h2 {
  margin: 0 1rem .5rem 0;
  padding: .25rem;
  background: #ff6b35;
  float: left;
}

section #spec {
  color: #f7c59f;
}

section p:first-of-type {
  display: inline;
}

#main_box {
  background: #1a659e;
  margin: 0 auto;
  max-width: 960px;
}

#main_footer {
  background: #004e89;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.menu_newline {
  height: .5rem;
}