@import url('https://fonts.googleapis.com/css?family=Roboto|Nova+Mono');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ul, ol, h1, h2, h3, p {
  margin: 0;
}

header {
  margin-bottom: 1rem;
  line-height: 1;
}

header #title { 
  color: #990100;
  font-size: 2rem;
}

header #subtitle {
  text-transform: uppercase;
  font-size: 1.25rem;
}

#main_container {
  background: #e8e8e8;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  overflow: auto;
}

p#prologue b {
  color: #333;
}

li.grid_problem:not(:last-of-type) {
  margin-bottom: .5rem;
}

.list_item_title {
  color: #b90504;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 1rem 0 .25rem 0;
}

.list_item_contents {
  line-height: 1.25;
  text-align: justify;
  justify-content: inter-word;
}

a {
  color: #b90504;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

a:hover {
  color: #333;
}

code {
  font-family: 'Nova Mono', monospace;
}

.grid {
  display: grid;  
}

.grid, .grid * {
  box-sizing: border-box;  
}

.grid div {
  background: #333;
  width: 100px;
  height: 100px;
}

.grid.auto div {
  width: auto;
  height: auto;
  color: #fff;
  text-align: justify;
  justify-content: inter-word;
}

.grid div:nth-of-type(2) {
  background: #555;
}

.grid div:nth-of-type(3) {
  background: #777;
}