* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

main section.task .seq, main section .form.time-table > .wrapper > .timetable-list, main section .form, main section.scenario .summary .questions, main table, main p {
  letter-spacing: 0.1px;
}

main p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

main section.task .seq, main section .form.time-table > .wrapper > .timetable-list, main section .form, main section.scenario .summary .questions, main table {
  background: #fff;
  border: 2px solid #eee;
  color: #212121;
  font-size: 14px;
}
main section.task .seq p, main section .form.time-table > .wrapper > .timetable-list p, main section .form p, main section.scenario .summary .questions p, main table p {
  color: inherit;
  line-height: inherit;
}

main table th, main table td {
  border: 0;
  border-bottom: 1px solid #eee;
}

main section .form, main section > *, #page-container > * > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main section.scenario .summary .questions > .question-wrapper > h4 {
  margin-top: 3.5px;
  margin-bottom: 3.5px;
}

main section > * {
  margin-top: 14px;
  margin-bottom: 14px;
}

main > section > section, main section .form > .wrapper, main section.scenario .summary .questions > .question-wrapper {
  margin-top: 21px;
  margin-bottom: 21px;
}

main > section, main section.task .seq, main section .form, main section.scenario .summary .questions, main table {
  margin-top: 28px;
  margin-bottom: 28px;
}

#page-container.header-fixed > header {
  padding-top: 7px;
  padding-bottom: 7px;
}

main {
  padding-top: 56px;
  padding-bottom: 56px;
}

main section.task .seq, main section .form.time-table > .wrapper > .timetable-list, main section .form, main section.scenario .summary .questions {
  padding: 21px;
}

main table th, main table td {
  padding: 14px;
}

main .calendar-input, main .timetable-wrapper, main .select-option, main .select-current, main textarea, main input {
  padding: 7px;
}

main .inc-dec > i {
  padding: 3.5px;
}

main section.task .seq, main section .form.time-text-arrows > .wrapper > i, main section .form > .wrapper .select-wrapper > .select-list, main section .form, main section.scenario .summary .questions > .question-wrapper > ul > li, main section.scenario .summary .questions, main .toggle-switch:before, main .toggle-switch, main .inc-dec > i, main .calendar-input, main .timetable-wrapper, main .select-option, main .select-current, main textarea, main input, main button, main table {
  border-radius: 4px;
}

main section.task .seq, main .calendar-input:disabled, main .calendar-input.disabled, main .timetable-wrapper:disabled, main .timetable-wrapper.disabled, main .select-option:disabled, main .select-option.disabled, main .select-current:disabled, main .select-current.disabled, main textarea:disabled, main textarea.disabled, main input:disabled, main input.disabled, button, p, h1, h2, h3, h4, a, label, span, td, th, i.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

::selection {
  background: #a63446;
  color: #fff;
}

#root {
  display: grid;
  height: 100%;
}

#page-container > * > * {
  width: 760px;
}
#page-container > header {
  background: #a63446;
  height: 256px;
  padding: 115px 0 0 0;
  color: #fff;
  font-size: 56px;
}
#page-container.header-fixed {
  margin-top: 256px;
}
#page-container.header-fixed > header {
  height: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 666;
}
#page-container.header-fixed > header > p {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 7px;
}
#page-container.header-fixed > header > p > span {
  line-height: 1;
}
#page-container.header-fixed > header > p > span:first-child {
  font-size: 21px;
}
#page-container.header-fixed > header > p > span:nth-child(2) {
  font-size: 12px;
  align-self: end;
  padding-bottom: 1px;
}
#page-container.header-fixed > header > p > i {
  cursor: pointer;
  font-size: 21px;
  color: #a63446;
  background: white;
  border-radius: 50%;
  transition: background 0.1s ease-in-out;
}
#page-container.header-fixed > header > p > i:hover {
  background: rgba(255, 255, 255, 0.85);
}

main {
  background: #f9f9f9;
  min-height: calc(100% - 256px);
}
main .text-important {
  color: #a63446;
}
main a {
  color: #a63446;
  text-decoration: none;
}
main p {
  text-align: justify;
  line-height: 1.75;
}
main p.note {
  font-size: 11px;
  text-align: left;
}
main p.text-smaller {
  font-size: 12px;
}
main h1, main h2, main h3, main h4 {
  color: #a63446;
}
main h1 {
  font-size: 30px;
}
main h2 {
  font-size: 24px;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 16px;
}
main img {
  max-width: 100%;
  max-height: 100%;
}
main table {
  display: table !important;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
main table th, main table td {
  line-height: 1;
}
main table th {
  font-weight: 700;
  text-align: left;
}
main > *:first-child {
  margin-top: 0 !important;
}
main > *:last-child {
  margin-bottom: 0 !important;
}
main .loader {
  display: block;
  width: 24px;
  height: 24px;
}
main .loader:after {
  content: " ";
  display: block;
  width: 23px;
  height: 23px;
  margin: 0.5px;
  border-radius: 50%;
  border-width: 2.5px;
  border-style: solid;
  border-color: #a63446 transparent #a63446 transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main button {
  outline: none;
  position: relative;
  cursor: pointer;
  border: 0;
  background: #8b8b8b;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  padding: 0 14px;
  height: 36px;
  text-transform: uppercase;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}
main button:hover {
  background: #9c9c9c;
}
main button[disabled] {
  cursor: default;
  background: #e0e0e0 !important;
  color: #bebebe !important;
}
main button.toggle {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 700;
}
main button.toggle.off {
  background: #ddd;
  color: #212121;
}
main button.toggle.off:hover {
  background: #eee;
}
main button.toggle.on {
  background: #212121;
  color: #fff;
}
main button.toggle.on:hover {
  background: #434343;
}
main .comment > div {
  display: grid;
  grid-auto-flow: column;
}
main .comment > div > .note:last-child {
  text-align: right;
}
main .notes-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
main .comment-wrapper > label {
  color: #a63446;
  font-size: 16px;
  line-height: 1.5;
}
main .comment-wrapper > textarea {
  margin: 3.5px 0 14px 0;
}
main .timetable-list li {
  list-style-type: none;
}
main .timetable-list > li:nth-child(n+2) {
  margin-top: 14px;
}
main .timetable-list > li > h4 {
  font-size: 14px;
}
main .timetable-list > li > ul {
  padding: 0;
  margin-top: 3.5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 7px;
}
main .timetable-list > li > ul > li > p {
  cursor: pointer;
  margin: 0 auto;
  font-size: 11px;
  border-radius: 50%;
  transition: background 0.1s ease-in-out;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
  text-align: center;
}
main .timetable-list > li > ul > li > p:hover {
  background: #dcdcdc;
}
main .timetable-list > li > ul > li > p.chosen {
  background: #767676;
  color: #fff !important;
}
main .timetable-list > li > ul > li > p.chosen:hover {
  background: #545454;
}
main .timetable-wrapper {
  text-align: center;
  cursor: pointer;
}
main .timetable-wrapper.disabled {
  cursor: default;
  background: #eee;
}
main .timetable-wrapper.disabled > span {
  color: #ddd;
}
main .mini-label {
  font-size: 12px;
  color: #212121;
}
main .mini-label.disabled {
  color: #ddd;
}
main .calendar-input, main .timetable-wrapper, main .select-option, main .select-current, main textarea, main input {
  font-size: inherit;
  color: #212121;
  border: 2px solid #ddd;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
main .calendar-input:disabled, main .calendar-input.disabled, main .timetable-wrapper:disabled, main .timetable-wrapper.disabled, main .select-option:disabled, main .select-option.disabled, main .select-current:disabled, main .select-current.disabled, main textarea:disabled, main textarea.disabled, main input:disabled, main input.disabled {
  background: #eee;
  color: #ddd;
  cursor: default;
}
main .calendar-input:disabled::selection, main .calendar-input.disabled::selection, main .timetable-wrapper:disabled::selection, main .timetable-wrapper.disabled::selection, main .select-option:disabled::selection, main .select-option.disabled::selection, main .select-current:disabled::selection, main .select-current.disabled::selection, main textarea:disabled::selection, main textarea.disabled::selection, main input:disabled::selection, main input.disabled::selection {
  background: transparent;
  color: #ddd;
}
main .calendar-input:focus, main .timetable-wrapper:focus, main .select-option:focus, main .select-current:focus, main textarea:focus, main input:focus {
  outline: none;
  border-color: #7e7e7e;
}
main .calendar-wrapper {
  position: relative;
}
main .calendar-wrapper > .calendar-jsCalendar {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  width: 288px;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
main .calendar-wrapper > .calendar-jsCalendar table {
  margin: 0;
}
main .calendar-wrapper > .calendar-jsCalendar tbody td {
  cursor: pointer;
}
main .calendar-wrapper > .calendar-jsCalendar tbody td.jsCalendar-current {
  background-color: #8b8b8b;
}
main .calendar-wrapper > .calendar-jsCalendar *::selection {
  background: #8b8b8b;
}
main .calendar-wrapper > .calendar-jsCalendar *::-moz-selection {
  background: #8b8b8b;
}
main .calendar-wrapper > .calendar-jsCalendar thead {
  background-color: #8b8b8b;
}
main .calendar-wrapper > .calendar-jsCalendar thead .jsCalendar-nav-left:hover,
main .calendar-wrapper > .calendar-jsCalendar thead .jsCalendar-nav-right:hover {
  background-color: #9c9c9c;
}
main .calendar-wrapper > .calendar-jsCalendar thead .jsCalendar-title-name {
  border-bottom: 0;
  height: 40px;
  line-height: 40px;
}
main textarea.error, main input.error {
  color: #a63446;
  border-color: #a63446;
}
main textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 102px;
}
main label, main input {
  display: block;
}
main label {
  line-height: 1.25;
}
main input {
  line-height: 1;
}
main .calendar-wrapper {
  cursor: pointer;
}
main .range-wrapper {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  grid-column-gap: 14px;
}
main .range-wrapper > input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0;
  background: #7e7e7e;
  transition: background 0.1s ease-in-out;
}
main .range-wrapper > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #212121;
  border-radius: 50%;
  cursor: pointer;
}
main .range-wrapper > input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  width: 10px;
  height: 10px;
  background: #212121;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
main .range-wrapper > input[disabled] {
  background: #e0e0e0 !important;
}
main .range-wrapper > input[disabled]::-webkit-slider-thumb {
  cursor: default;
  background: #bebebe !important;
}
main .range-wrapper > input[disabled]::-moz-range-thumb {
  cursor: default;
  background: #bebebe !important;
}
main .range-wrapper > input[disabled] + span {
  color: #bebebe;
}
main .range-wrapper > span {
  font-weight: 700;
}
main .inc-dec {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 7px;
}
main .inc-dec > i {
  background: #616161;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.1s ease-in-out;
}
main .inc-dec > i:hover {
  background: #838383;
}
main .inc-dec > i.disabled {
  cursor: default;
  background: #e0e0e0 !important;
  color: #bebebe !important;
}
main .inc-dec > span {
  font-weight: 700;
  font-size: 20px;
  color: #616161;
}
main .inc-dec > span.disabled {
  color: #ddd;
}
main .toggle-switch {
  display: grid;
  cursor: pointer;
  align-content: center;
  width: 52px;
  height: 30px;
  padding: 4px;
  background: #8b8b8b;
  transition: background 0.1s ease-in-out;
}
main .toggle-switch:before {
  display: block;
  background: #fff;
  line-height: 22px;
  width: 22px;
  height: 22px;
  font-size: 10px;
  content: "|||";
  text-align: center;
  transition: color 0.1s ease-in-out, justify-self 0.1s ease-in-out;
}
main .toggle-switch:hover {
  background: #9c9c9c;
}
main .toggle-switch:hover:before {
  color: #9c9c9c;
}
main .toggle-switch.disabled.on, main .toggle-switch.disabled.off, main .toggle-switch.disabled {
  background: #e0e0e0;
  cursor: default;
}
main .toggle-switch.disabled.on:before, main .toggle-switch.disabled.off:before, main .toggle-switch.disabled:before {
  color: #e0e0e0;
}
main .toggle-switch.on {
  background: #668216;
}
main .toggle-switch.on:before {
  color: #668216;
  justify-self: end;
}
main .radio-item {
  display: grid;
  grid-auto-flow: column;
}
main .radio-item > .radio {
  cursor: pointer;
  background: transparent;
  width: 18px;
  height: 18px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
main .radio-item > .radio:before {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  background: #7e7e7e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
main .radio-item > .radio:hover:before {
  opacity: 1;
}
main .radio-item.disabled > .radio {
  border-color: #ddd;
  background: #eee;
  cursor: default;
}
main .radio-item.disabled > .radio:before {
  background: #ddd;
  opacity: 0;
}
main .radio-item.chosen > .radio:before {
  opacity: 1;
}
main .radio-item > span {
  font-size: 12px;
}
main section > *:first-child {
  margin-top: 0 !important;
}
main section > *:last-child {
  margin-bottom: 0 !important;
}
main section.scenario .summary .questions {
  width: 600px;
}
main section.scenario .summary .questions > .question-wrapper > h4 {
  margin-top: 0;
  line-height: 1.25;
  text-align: justify;
}
main section.scenario .summary .questions > .question-wrapper > ul {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}
main section.scenario .summary .questions > .question-wrapper > ul > li {
  list-style-type: none;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 7px;
}
main section.scenario .summary .questions > .question-wrapper > ul > li > * {
  line-height: 1;
}
main section.scenario .summary .questions > .question-wrapper > ul > li > span {
  font-size: 14px;
}
main section.scenario .summary .questions > .comment-wrapper > label {
  line-height: 1.25;
  text-align: justify;
}
main section.scenario .summary .questions > .comment-wrapper > textarea {
  margin-top: 3.5px;
}
main section .form {
  position: relative;
  width: fit-content;
}
main section .form > i.insert-everything {
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 21px;
  margin: 0;
  color: #a63446;
}
main section .form > .wrapper {
  display: grid;
  align-items: center;
}
main section .form > .wrapper .select-wrapper {
  position: relative;
}
main section .form > .wrapper .select-wrapper > .select-current {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 24px;
  height: 35px;
  align-content: center;
  background: #fff;
}
main section .form > .wrapper .select-wrapper > .select-current > span {
  align-self: center;
}
main section .form > .wrapper .select-wrapper > .select-current > i {
  justify-self: end;
}
main section .form > .wrapper .select-wrapper > .select-current.disabled {
  cursor: default;
  background: #eee;
  color: #ddd;
}
main section .form > .wrapper .select-wrapper > .select-current.focus {
  border-color: #7e7e7e;
  position: relative;
  z-index: 2;
}
main section .form > .wrapper .select-wrapper > .select-list {
  position: absolute;
  width: calc(100% - 14px);
  display: grid;
  grid-auto-flow: row;
  padding: 0;
  list-style-type: none;
  margin: 0 7px;
  background: transparent;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
main section .form > .wrapper .select-wrapper > .select-list.top {
  bottom: 35px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
main section .form > .wrapper .select-wrapper > .select-list.top:not(:last-child) {
  bottom: 75px;
}
main section .form > .wrapper .select-wrapper > .select-list:not(.top) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
main section .form > .wrapper .select-wrapper > .select-list.empty {
  display: none;
}
main section .form > .wrapper .select-wrapper > .select-list > .select-option {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: #fff;
}
main section .form > .wrapper .select-wrapper > .select-list > .select-option:hover {
  background: #eee;
}
main section .form > .wrapper .select-wrapper > .select-other {
  margin-top: 5px;
  width: 100%;
}
main section .form > .wrapper > ul.input-list {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}
main section .form > .wrapper > ul.input-list > li {
  list-style-type: none;
}
main section .form > .wrapper > ul.input-list > li:nth-child(n+2) {
  margin-left: 14px;
}
main section .form > .wrapper.on-form-error.on-input-invalid > input, main section .form > .wrapper.on-form-error.on-input-invalid > label {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > textarea, main section .form > .wrapper.on-form-error.on-input-invalid > input {
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > i.arrow-left, main section .form > .wrapper.on-form-error.on-input-invalid > i.arrow-right {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > i.arrow-left:hover, main section .form > .wrapper.on-form-error.on-input-invalid > i.arrow-right:hover {
  background: #ca5467 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-filter, main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-current, main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-list, main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-other {
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-filter, main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-current, main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-list > .select-option, main section .form > .wrapper.on-form-error.on-input-invalid .select-wrapper:not(.on-input-part-valid) > .select-other {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .calendar-wrapper > .calendar-input {
  color: #a63446 !important;
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .calendar-wrapper > .calendar-jsCalendar tbody td.jsCalendar-current {
  background-color: #a63446;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .calendar-wrapper > .calendar-jsCalendar *::selection {
  background: #a63446;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .calendar-wrapper > .calendar-jsCalendar *::-moz-selection {
  background: #a63446;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .calendar-wrapper > .calendar-jsCalendar thead {
  background-color: #a63446;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .calendar-wrapper > .calendar-jsCalendar thead .jsCalendar-nav-left:hover,
main section .form > .wrapper.on-form-error.on-input-invalid > .calendar-wrapper > .calendar-jsCalendar thead .jsCalendar-nav-right:hover {
  background-color: #ca5467;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .text-select-text-wrapper > span:not(.on-input-part-valid),
main section .form > .wrapper.on-form-error.on-input-invalid > .text-select-text-wrapper > input:not(.on-input-part-valid),
main section .form > .wrapper.on-form-error.on-input-invalid > .multi-text-wrapper > span:not(.on-input-part-valid),
main section .form > .wrapper.on-form-error.on-input-invalid > .multi-text-wrapper > input:not(.on-input-part-valid) {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .text-select-text-wrapper > input:not(.on-input-part-valid),
main section .form > .wrapper.on-form-error.on-input-invalid > .multi-text-wrapper > input:not(.on-input-part-valid) {
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .timetable-wrapper {
  color: #a63446 !important;
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .timetable-list > li > ul:not(.on-input-part-valid) > li > p.chosen {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .timetable-list > li > ul:not(.on-input-part-valid) > li > p.chosen:hover {
  background: #ca5467 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .range-wrapper > input {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .range-wrapper > input::-webkit-slider-thumb {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .range-wrapper > input::-moz-range-thumb {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .range-wrapper > span {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .inc-dec > i:not(.disabled) {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .inc-dec > i:not(.disabled):hover {
  background: #ca5467 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .inc-dec > span {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .toggle.off {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .toggle.on {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .toggle.on:hover {
  background: #ca5467 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .toggle-switch {
  background: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .toggle-switch:before {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > ul.input-list > li.radio-item > div {
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > ul.input-list > li.radio-item > div:before {
  background: #a63446;
}
main section .form > .wrapper.on-form-error.on-input-invalid > ul.input-list > li.radio-item > span {
  color: #a63446 !important;
}
main section .form > p.on-form-error {
  font-size: 14px;
  text-align: center;
}
main section .form.labels-align-left > .wrapper, main section .form.labels-align-right > .wrapper {
  grid-template-columns: auto 200px;
  grid-column-gap: 21px;
}
main section .form.labels-align-left > .wrapper > .input-wrapper, main section .form.labels-align-right > .wrapper > .input-wrapper {
  grid-column: 2;
}
main section .form.labels-align-left {
  width: 430px;
}
main section .form.labels-align-right {
  width: 380px;
}
main section .form.labels-align-right > .wrapper > label {
  text-align: right;
}
main section .form.labels-align-top {
  width: 223px;
}
main section .form.labels-align-top > .wrapper {
  grid-row-gap: 3.5px;
}
main section .form.labels-placeholders, main section .form.labels-float-top {
  width: 240px;
}
main section .form.labels-placeholders > .wrapper, main section .form.labels-float-top > .wrapper {
  position: relative;
}
main section .form.labels-placeholders > .wrapper > label, main section .form.labels-float-top > .wrapper > label {
  cursor: text;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease-in-out;
  z-index: 1;
  color: #b1b1b1;
  background: transparent;
}
main section .form.labels-placeholders > .wrapper > label.on-input-disabled, main section .form.labels-float-top > .wrapper > label.on-input-disabled {
  background: #eee;
}
main section .form.labels-placeholders > .wrapper > label.on-input-focus, main section .form.labels-placeholders > .wrapper > label.on-input-non-empty:not(.on-input-disabled), main section .form.labels-float-top > .wrapper > label.on-input-focus, main section .form.labels-float-top > .wrapper > label.on-input-non-empty:not(.on-input-disabled) {
  color: #7e7e7e;
}
main section .form.labels-placeholders > .wrapper > label.on-input-disabled, main section .form.labels-placeholders > .wrapper > label.on-input-focus, main section .form.labels-placeholders > .wrapper > label.on-input-non-empty:not(.on-input-disabled) {
  display: none;
}
main section .form.labels-float-top > .wrapper > label.on-input-focus, main section .form.labels-float-top > .wrapper > label.on-input-non-empty:not(.on-input-disabled) {
  background: #fff;
  font-size: 12px;
  margin-top: -16px;
  padding: 0 2px;
}
main section .form.logic-values-toggle-switch {
  width: 560px;
}
main section .form.logic-values-toggle-switch > .wrapper {
  grid-template-columns: auto 52px;
}
main section .form.logic-values-toggle-btn {
  width: 620px;
}
main section .form.logic-values-toggle-btn > .wrapper {
  grid-template-columns: auto 90px;
}
main section .form.logic-values-radio {
  width: 640px;
}
main section .form.logic-values-radio > .wrapper {
  grid-template-columns: auto 120px;
}
main section .form.logic-values-radio > .wrapper > ul.input-list {
  justify-content: end;
}
main section .form.logic-values-select {
  width: 600px;
}
main section .form.logic-values-select > .wrapper {
  grid-template-columns: auto 75px;
}
main section .form.date-calendar {
  width: 500px;
}
main section .form.date-calendar > .wrapper {
  grid-template-columns: auto 90px;
}
main section .form.date-calendar > .wrapper > .calendar-wrapper {
  text-align: center;
}
main section .form.date-text-select-text {
  width: 500px;
}
main section .form.date-text-select-text > .wrapper {
  grid-template-columns: auto 215px;
}
main section .form.date-text-select-text > .wrapper > .text-select-text-wrapper {
  display: grid;
  grid-template-columns: 35px 120px 50px;
  justify-content: space-between;
  align-content: center;
}
main section .form.date-multi-text {
  width: 600px;
}
main section .form.date-multi-text > .wrapper {
  grid-template-columns: auto 150px;
}
main section .form.date-multi-text > .wrapper > .multi-text-wrapper {
  display: grid;
  grid-template-columns: 50px 15px 35px 15px 35px;
  justify-content: start;
  align-content: center;
}
main section .form.date-multi-text > .wrapper > .multi-text-wrapper > * {
  text-align: center;
}
main section .form.date-multi-text > .wrapper > .multi-text-wrapper > input {
  width: 100%;
}
main section .form.date-multi-text > .wrapper > .multi-text-wrapper > .separator {
  align-self: center;
  font-size: 20px;
}
main section .form.date-masks {
  width: 500px;
}
main section .form.date-masks > .wrapper {
  grid-template-columns: auto 100px;
}
main section .form.time-table {
  width: 250px;
}
main section .form.time-table > .wrapper {
  grid-template-columns: auto 60px;
  position: relative;
}
main section .form.time-table > .wrapper > .timetable-list {
  position: absolute;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 450px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
main section .form.time-text-arrows {
  width: 348px;
}
main section .form.time-text-arrows > .wrapper {
  grid-template-columns: auto 24px 60px 24px;
  grid-column-gap: 0;
}
main section .form.time-text-arrows > .wrapper > i {
  height: 100%;
  display: grid;
  align-content: center;
  background: #ddd;
  color: #fff;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}
main section .form.time-text-arrows > .wrapper > i.arrow-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
main section .form.time-text-arrows > .wrapper > i.arrow-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
main section .form.time-text-arrows > .wrapper > i:hover {
  background: #7e7e7e;
}
main section .form.time-text-arrows > .wrapper > i.disabled {
  cursor: default;
  background: #eee;
  color: #ddd;
}
main section .form.time-text-arrows > .wrapper > input {
  border-radius: 0;
  text-align: center;
  font-size: 16px;
}
main section .form.time-text-arrows > .wrapper > input:disabled {
  border-color: #eee;
}
main section .form.time-text {
  width: 300px;
}
main section .form.time-text > .wrapper {
  grid-template-columns: auto 60px;
}
main section .form.time-text > .wrapper > input {
  text-align: center;
}
main section .form.time-multi-select {
  width: 370px;
}
main section .form.time-multi-select > .wrapper {
  grid-template-columns: auto 60px 60px;
}
main section .form.filtering-on, main section .form.filtering-off {
  width: 600px;
}
main section .form.filtering-on > .wrapper, main section .form.filtering-off > .wrapper {
  grid-template-columns: auto 350px;
}
main section .form.filtering-on > .wrapper > .select-wrapper > input {
  width: 100%;
}
main section .form.input-masks-on, main section .form.input-masks-off {
  width: 530px;
}
main section .form.input-masks-on > .wrapper, main section .form.input-masks-off > .wrapper {
  grid-template-columns: auto 250px;
}
main section .form.small-numbers-range {
  width: 350px;
}
main section .form.small-numbers-range > .wrapper {
  grid-template-columns: auto 120px;
}
main section .form.small-numbers-inc-dec {
  width: 348px;
}
main section .form.small-numbers-inc-dec > .wrapper {
  grid-template-columns: auto 83px;
}
main section .form.small-numbers-select {
  width: 330px;
}
main section .form.small-numbers-select > .wrapper {
  grid-template-columns: auto 65px;
}
main section .form.small-numbers-text {
  width: 300px;
}
main section .form.small-numbers-text > .wrapper {
  grid-template-columns: auto 35px;
}
main section .form.small-numbers-text > .wrapper > input {
  text-align: center;
}
main section.task .seq {
  width: fit-content;
  max-width: 600px;
}
main section.task .seq > .seq-radios {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  padding: 0;
}
main section.task .seq > .seq-radios > li {
  list-style-type: none;
}
main section.task .seq > .seq-radios > li.seq-item {
  display: block;
  width: 36px;
  align-self: end;
}
main section.task .seq > .seq-radios > li.seq-item > div {
  font-size: 11px;
  text-align: center;
}
main section.task .seq > .seq-radios > li.seq-item > div.radio {
  margin: 0 auto;
}
main section.task .seq > .seq-radios > li.seq-item:first-child > div:first-child, main section.task .seq > .seq-radios > li.seq-item:last-child > div:first-child {
  margin-bottom: 3.5px;
}
main section.task .seq > .seq-radios > li.seq-item:first-child > div:first-child {
  text-align: left;
}
main section.task .seq > .seq-radios > li.seq-item:last-child > div:first-child {
  text-align: right;
}
main section.task .seq > .wrapper label {
  line-height: 1.25;
  text-align: justify;
}
main section #user-form {
  width: 400px;
}
main section #user-form ~ .loader {
  margin-top: 28px;
}
