* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.25;
}

html {
    font-size: 16px;
}

p {
    text-align: justify;
}

header {
    background: #000;
}

header > h1 {
    width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

header > h1 > span {
    font-size: 1.5rem;
    font-weight: 300;
}

main {
    width: 1200px;
    margin: 0 auto;
}

section:not(:first-of-type) {
    margin-top: 2rem;
}

#progress-bar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 1fr;
    background: #999;
    color: #fff;
    padding: .5rem 1rem;
    font-size: .875rem;
    margin: 1rem 0;
    border-radius: .5rem;
}

#progress-bar > div:nth-child(odd) {
    font-weight: 700;
    background: #000;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: .25rem;
    margin-right: .25rem;
}

.section-no {
    background: #000;
    color: #fff;
    width: 3rem;
    height: 3rem;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: .5rem;
}

.section-elem {
    padding: 1rem;
    background: #eee;
    border-radius: .5rem;
}

aside.section-elem {
    background: #ddd;
    grid-row: span 3;
}

.section-elem > h3 {
    font-size: 1.5rem;
    padding-bottom: .25rem;
}