* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
}

#hidden-content {
    display: none !important;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.line-below::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    margin: 10px 0 20px 0;
}

.prop-section {
    margin: 0 auto 30px auto;
}

.prop-section-header > div {
    font-weight: bold;
    font-size: 24px;
    padding: 0 10px;
}

.prop-section-items {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.prop-item-name {
    font-weight: bold;
    text-align: right;
}

#action-btns {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.action-btn {
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    background: rgba(0, 0, 0, 1.0);
}

.action-btn:hover {
    background: rgba(0, 0, 0, 0.85);
}

.action-btn.primary-btn {
    background: rgba(193, 41, 46, 1.0);
}

.action-btn.primary-btn:hover {
    background: rgba(193, 41, 46, 0.85);
}

.action-btn.primary-btn.disabled {
    cursor: default;
    background: rgba(193, 41, 46, 0.5);
}