body {
  overflow-x: hidden;
}
#content {
  width: 100%;
  display: block;
  margin-top: 1rem;
}
.toggleContent {
  position: relative;
}
.toggleContent a.mobileHeader {
  position: absolute;
  cursor: pointer;
  top: -8px;
  right: -10px;
  font-size: 40px;
  text-decoration: none;
  color: #439892;
}
.msgStatus {
  background: #e0532c;
  color: #fefdff;
  position: fixed;
  top: 45px;
  right: 0; left: 0;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  z-index: 1000;
  padding: .5rem 1rem;
  display: none;
}
.msgStatus.success {
  background: #61a711;
}
.msgStatus.error {
  background: #a94442;
}
.msgStatus.alreadyAdded {
  background: #e08c2c;
}
.fixed.toggleContent a.mobileHeader {
  color: #e0532c;
}
.panelContent {
  display: none;
}
.courseName {
  position: relative;
  background: #fefdff;
  font-size: 24px;
  padding: .5rem 1rem .5rem .25rem;
}
.courseName a {
  position: absolute;
  font-size: 28px;
  bottom: 8px; right: 8px;
  color: #252323;
  text-decoration: none;
}
.courseName a:hover {
  color: #e0532c;
}
@media screen and (max-width: 720px) {
  .courseName {
    text-align: left;
    padding-left: 1.5rem;
  }
  .courseName > span {
    padding-right: 1.5rem;
  }
}
.coursePanel, .panelWrapper {
  width: 100%;
  position: relative;
  padding: .75rem 1.5rem;
  display: inline-block;
}
.panelWrapper {
  padding: 0;
}
.coursePanel .summary {
  color: #c3c1b8;
  text-align: right;
}
.coursePanel h2 {
  color: #439892;
  padding-bottom: .75rem;
  font-weight: bold;
  font-size: 22px;
}
.coursePanel h2.fixed {
  color: #e0532c;
}
.coursePanel a, .coursePanel a:hover {
  color: inherit;
}
a.url {
  font-weight: normal;
  text-decoration: none;
  color: #c3c1b8;
  font-size: 0.8rem;
}
a.url:hover {
  color: #439892;
}
.coursePanel.wide_1-3 hr {
  width: 200px;
  margin: .75rem 0;
  border-color: #cdccc4;
}
.contentWrapper {
  margin: 0;
}
#verticalBar .chosen {
  border-right-color: #c1bfb5;
}
h3.underlined {
  margin: 0;
  font-size: 20px;
  padding-bottom: .75rem;
}
h3.underlined + .event {
  padding-top: .75rem;
}
.coursePanel.wide_1-3 hr + h3 {
  padding-top: .875rem;
}
.leftIndent {
  padding-left: .5rem;
}
.leftIndent ul {
  list-style-type: none;
  text-align: right;
  margin-bottom: 1rem;
}
.groupInfo {
  margin-top: 1rem;
}
.groupInfo h4 {
  margin-left: 2rem;
  font-weight: bold;
  color: #439892;
  position: relative;
}
.groupInfo h4 i.toggle:hover {
  color: #e0532c;
}
.groupInfo h4 i.toggle {
  display: inline-block;
  font-size: 40px;
  position: absolute;
  top: -10px;
  margin-left: 10px;
  cursor: pointer;
}
.groupInfo.width100 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.groupInfo hr {
  border-color: #c3c1b8;
  margin: 1rem 0;
}
.groupInfo hr:first-of-type {
  margin-top: 0;
}
.groupInfo h4 .toggleTriangle {
  display: none;
  position: absolute;
  bottom: -11px;
  left: 57.5px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #439892;
}
.msgBlock {
  position: relative;
  padding: 0 1.5rem;
  padding-right: 3rem;
}
.msgBlock h4 {
  color: #e0532c;
  margin: 0;
  font-size: 16px;
  position: relative;
}
.msgBlock .popover, .courseName .popover {
  border: none;
}
.courseName .popover.bottom > .arrow, .courseName .popover.bottom > .arrow:after {
  border-bottom-color: #439892 !important;
}
.msgBlock .popover.top > .arrow, .msgBlock .popover.top > .arrow:after {
  border-top-color: #e0532c !important;
}
.courseName .popover-content, .msgBlock .popover-content {
  background: #e0532c;
  color: #fefdff;
  width: 180px;
  height: 40px;
  text-align: center;
  padding: 10px 8px 6px 8px;
}
.msgBlock .popover-content {
  margin-left: -140px;
}
.courseName .popover-content {
  background: #439892;
  margin-top: -2px;
  width: 150px;
}
i.reportError {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: .75rem;
  color: #c3c1b8;
}
i.reportError:hover {
  color: #439892;
}
.hiddenList {
  display: none;
  padding: 1rem 2.5rem;
  background: #439892;
  color: #fefdff;
  font-weight: bold;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.hiddenList a {
  text-decoration: none;
  color: #fefdff;
}
.hiddenList a:hover {
  color: #e0532c;
}
@media screen and (max-width: 720px) {
  .coursePanel .summary {
    right: 4rem;
  }
}
@media screen and (max-width: 1351px) {
  .courseName {
    margin: 0;
  }
}
@media screen and (min-width: 721px) {
  .coursePanel .summary {
    position: absolute;
    top: .75rem;
    right: 1.5rem;
    margin-bottom: 1rem;
  }
  .toggleContent a.mobileHeader {
    display: none;
  }
  .panelContent {
    display: inline;
  }
  .coursePanel, .panelWrapper {
    min-height: 150px;
  }
  .coursePanel.wide_1-3, .coursePanel.wide_3-1 {
    height: 350px;
  }
  .courseName {
    height: auto;
    font-size: 30px;
    margin: -8px -8px 16px -8px;
    line-height: 48px;
    text-align: left;
    padding: 0 2.5rem 0 1.5rem;
  }
  .contentWrapper {
    margin: .5rem;
  }
  .coursePanel {
    box-shadow: 5px 5px 25px #706f6c;
    overflow-y: auto;
  }
  #content {
    width: calc(100% - 250px);
  }
  @media screen and (max-width: 1200px) {
    .coursePanel:not(:first-of-type), .panelWrapper.wide_2-2_left .coursePanel, .panelWrapper.wide_2-2_right .coursePanel {
      margin-top: 1rem;
    }
    .monthWrap {
      width: 50%;
      display: inline-block;
    }
  }
  @media screen and (max-width: 1351px) {
    .courseName {
      padding-top: 4px;
    }
  }
}
@media screen and (min-width: 1201px) {
  .panelWrapper {
    vertical-align: top;
  }
  .notFirstRow {
    margin-top: 1rem;
  }
  .coursePanel.wide_2-2_left, .panelWrapper.wide_2-2_left {
    width: 48%;
    margin-right: .5rem;
  }
  .coursePanel.wide_2-2_right, .panelWrapper.wide_2-2_right {
    width: 48%;
    margin-left: .5rem;
  }
  .coursePanel.wide_3-1 {
    width: 73%;
    margin-right: 1rem;
  }
  .coursePanel.wide_1-3 {
    width: 23%;
  }
  .coursePanel.wide_1-1 {
    width: 97.5%;
  }
}