* {
    box-sizing: border-box;
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

html, body {
    font-size: 16px;
    background: #fefdff;
    color: #252323;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
}

#horizontalBar, #moreButton, #verticalBar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popover {
    padding: 0;
    border: 3px solid #c1bfb5;
}

.popover.bottom > .arrow:after {
    top: 4.25px;
    border-bottom-color: #fefdff;
}

.popover.bottom > .arrow {
    margin-left: -3px;
    border-bottom-color: #c1bfb5;
    margin-top: -3px;
}

.popover > .arrow {
    border-width: 12px;
}

.popover-content, .popover.fade.bottom.in {
    border-radius: 0;
    color: #c1bfb5;
    background: #fefdff;
}

.popover-content {
    padding: 0;
    width: 200px;
}

.popover-content div {
    position: relative;
    display: block;
    font-size: 16px;
    padding: .5rem;
    height: 36px;
}

.popover-content div:hover {
    background: #efeff0;
}

.popover-content i {
    color: #c1bfb5;
    position: absolute;
    top: 5px;
    bottom: auto;
    left: auto;
    right: .5rem;
}

.popover-content div:last-of-type i {
    top: 6px;
}

.popover-content div:first-of-type {
    border-bottom: 2px solid #c1bfb5;
}

#horizontalBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    background: #6db9b4;
    z-index: 100;
}

#horizontalBar h2, #horizontalBar #menu, #horizontalBar #menu ul, #horizontalBar #menu li a, #horizontalBar #menu li a i {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 45px;
    height: 45px;
}

#horizontalBar h2 {
    font-weight: bold;
    color: #fefdff;
    width: 100%;
    font-size: 26px;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: .5px .5px 5px #000;
    cursor: default;
}

#horizontalBar h2 span, #horizontalBar h2 a {
	font-family: "Comfortaa";
}

#horizontalBar h2 a {
    text-decoration: none;
    color: #fefdff;
}

#horizontalBar h2 span {
    color: #e0532c;
}

#horizontalBar #menu {
    width: 100%;
    background: #439892;
    text-align: center;
    font-size: 1.0625rem;
}

#horizontalBar #menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#horizontalBar #menu li {
    cursor: pointer;
    border-right: 1px solid #d0e4e4;
}

#horizontalBar #menu li:last-child {
    border: 0;
}

#horizontalBar #menu li > a {
    color: #fefdff;
    text-decoration: none;
    padding: 0 1rem;
}

#horizontalBar #menu li > a span {
    display: none;
}

#horizontalBar #menu li > a:hover {
    background: #3e8e87;
}

#horizontalBar #menu li > a:first-child {
    padding: 0 .75rem;
    position: relative;
}

#horizontalBar #menu li > a i {
    font-size: 1.75rem;
    vertical-align: middle;
}

#horizontalBar #menu li div a {
    text-decoration: none;
    line-height: normal;
    color: #c1bfb5;
}

#horizontalBar #menu li:first-child > a i {
    padding: 0
}

#alertSquare {
    position: absolute;
    z-index: 90;
    width: 16px;
    height: 16px;
    line-height: 18px;
    font-size: 10px;
    background: #e0532c;
    top: 8px;
    right: 8px;
    display: none;
}

#returnArrow {
    position: absolute;
    top: 5px;
    right: 0;
    display: none;
    z-index: 300;
    color: #b2b0a7;
    cursor: pointer;
    font-size: 2rem;
}

#verticalBar {
    display: none;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    margin: 0;
    background: #252323;
    text-decoration: none;
    z-index: 210;
}

#verticalBar #sideMenu {
    overflow-y: auto;
}

#moreButton {
    color: #fefdff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0 0 10px;
    width: 45px;
    height: 45px;
    z-index: 200;
    cursor: pointer;
}

#verticalBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#verticalBar li {
    border-top: 1px solid #6c6a65;
}

.chosen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0 auto auto;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fefdff;
}

#verticalBar li:last-child {
    border-bottom: 1px solid #6c6a65;
}

#verticalBar li a {
    position: relative;
    display: block;
    padding: .75rem 1rem .75rem 1.5rem;
    cursor: pointer;
    color: #b2b0a7;
    text-decoration: none;
}

#verticalBar li a:hover {
    background: #e0532c;
}

#verticalBar #inputWrapper {
    position: relative;
    color: #b2b0a7;
    display: block;
    width: 200px;
    height: 20px;
    margin: 4.5rem auto 3rem auto;
    font-size: .75rem;
    border-bottom: 2px solid #6c6a65;
}

#searchIcon {
    position: absolute;
    bottom: 0;
    right: .5rem;
    font-size: 1rem;
}

#verticalBar input {
    background: #252323;
    width: 175px;
    border: 0;
    position: absolute;
    bottom: 0;
}

#verticalBar input:focus {
    outline: none;
}

#verticalBar input::-webkit-input-placeholder {
    color: #b2b0a7;
}

#verticalBar input::-moz-placeholder {
    color: #b2b0a7;
}

#verticalBar input:-ms-input-placeholder {
    color: #b2b0a7;
}

#verticalBar input:-moz-placeholder {
    color: #b2b0a7;
}

#main #content {
    margin: 90px 0 0 0;
    height: 100%;
    display: inline-block;
    padding: .5rem;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (min-width: 721px) {
    #horizontalBar h2 {
        width: 250px;
    }

    #horizontalBar {
        height: 45px;
        background: #439892;
    }

    #horizontalBar #menu {
        width: auto;
        background: #439892;
        float: right;
    }

    #horizontalBar #menu li {
        border-right: 1px solid #d0e4e4;
    }

    #horizontalBar #menu li:first-child {
        border-left: 1px solid #d0e4e4;
    }

    #horizontalBar #menu li:last-child {
        border: 0;
    }

    #horizontalBar #menu li a span {
        display: inline;
    }

    #horizontalBar #menu li a i {
        padding-left: .625rem;
    }

    #horizontalBar #menu li:nth-child(2) a i {
        padding-left: .5rem;
    }

    #verticalBar {
        top: auto;
        margin-top: 45px;
        display: inline-block;
        position: fixed;
        height: 100%;
    }

    #moreButton {
        display: none;
    }

    #verticalBar #inputWrapper {
        margin: 3rem auto;
    }

    #main #content {
        margin-top: 45px;
        margin-left: 250px;
    }
}