* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

main section.task .seq, main section.task .task-form, main table, main p {
  letter-spacing: 0.1px;
}

main p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

main section.task .seq, main section.task .task-form, main table {
  background: #fff;
  border: 2px solid #eee;
  color: #212121;
  font-size: 14px;
}
main section.task .seq p, main section.task .task-form p, main table p {
  color: inherit;
  line-height: inherit;
}

main table th, main table td {
  border: 0;
  border-bottom: 1px solid #eee;
}

main section.task .task-form, main section > *, #page-container > * > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main section > * {
  margin-top: 14px;
  margin-bottom: 14px;
}

main > section > section, main section.task .task-form > .wrapper {
  margin-top: 21px;
  margin-bottom: 21px;
}

main > section, main section.task .seq, main section.task .task-form, main table {
  margin-top: 28px;
  margin-bottom: 28px;
}

main {
  padding-top: 56px;
  padding-bottom: 56px;
}

main section.task .seq, main section.task .task-form {
  padding: 21px;
}

main table th, main table td {
  padding: 14px;
}

main textarea, main input {
  padding: 7px;
}

main section.task .seq, main section.task .task-form, main table, main textarea, main input, main button {
  border-radius: 4px;
}

.hidden {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

button, p, h1, h2, h3, h4 a, label, span, td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  display: grid;
  height: 100%;
}

#page-container > * > * {
  max-width: 760px;
}

header {
  background: #a63446;
  height: 256px;
  padding: 115px 0 0 0;
  color: #fff;
  font-size: 56px;
}

main {
  background: #f9f9f9;
  min-height: calc(100% - 256px);
  overflow-y: auto;
}
main .text-important {
  color: #a63446;
}
main a {
  color: #a63446;
  text-decoration: none;
}
main p {
  text-align: justify;
  line-height: 1.75;
}
main p.note-required {
  font-size: 11px;
}
main h1, main h2, main h3, main h4 {
  color: #a63446;
}
main h1 {
  font-size: 30px;
}
main h2 {
  font-size: 24px;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 16px;
}
main img {
  max-width: 100%;
  max-height: 100%;
}
main button {
  outline: none;
  position: relative;
  cursor: pointer;
  border: 0;
  background: #8b8b8b;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  padding: 0 14px;
  height: 36px;
  text-transform: uppercase;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}
main button:hover {
  background: #9c9c9c;
}
main button[disabled] {
  cursor: default;
  background: #e0e0e0;
  color: #bebebe;
}
main textarea, main input {
  font-size: inherit;
  color: #212121;
  border: 2px solid #ddd;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
main textarea.error, main input.error {
  color: #a63446;
  border-color: #a63446;
}
main textarea:disabled, main input:disabled {
  background: #eee;
  color: #ddd;
}
main textarea:focus, main input:focus {
  outline: none;
  border-color: #7e7e7e;
}
main textarea {
  resize: none;
  width: 100%;
}
main table {
  display: table !important;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
main table th, main table td {
  line-height: 1;
}
main table th {
  font-weight: 700;
  text-align: left;
}
main section > *:first-child {
  margin-top: 0 !important;
}
main section > *:last-child {
  margin-bottom: 0 !important;
}
main section.task .task-form {
  width: fit-content;
}
main section.task .task-form > .wrapper {
  display: grid;
  align-items: center;
}
main section.task .task-form > .wrapper > label, main section.task .task-form > .wrapper > input {
  line-height: 1;
  display: block;
}
main section.task .task-form > .wrapper.on-task-error.on-input-invalid > input {
  border-color: #a63446 !important;
  color: #a63446 !important;
}
main section.task .task-form > .wrapper.on-task-error.on-input-invalid > label {
  color: #a63446 !important;
}
main section.task .task-form > p.on-task-error {
  font-size: 14px;
  text-align: center;
}
main section.task .task-form.labels-align-left > .wrapper, main section.task .task-form.labels-align-right > .wrapper {
  grid-template-columns: auto 200px;
  grid-column-gap: 21px;
}
main section.task .task-form.labels-align-left {
  width: 380px;
}
main section.task .task-form.labels-align-right {
  width: 380px;
}
main section.task .task-form.labels-align-right > .wrapper > label {
  text-align: right;
}
main section.task .task-form.labels-align-top {
  width: 223px;
}
main section.task .task-form.labels-align-top > .wrapper {
  grid-row-gap: 3.5px;
}
main section.task .task-form.labels-float-top {
  width: 200px;
}
main section.task .task-form.labels-float-top > .wrapper {
  position: relative;
}
main section.task .task-form.labels-float-top > .wrapper > label {
  cursor: text;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease-in-out;
  z-index: 1;
  color: #b1b1b1;
  background: #fff;
}
main section.task .task-form.labels-float-top > .wrapper > label.on-input-disabled {
  background: #eee;
}
main section.task .task-form.labels-float-top > .wrapper > label.on-input-focus, main section.task .task-form.labels-float-top > .wrapper > label.on-input-non-empty:not(.on-input-disabled) {
  font-size: 12px;
  margin-top: -16px;
  padding: 0 2px;
}
main section.task .task-form.labels-float-top > .wrapper > label.on-input-focus, main section.task .task-form.labels-float-top > .wrapper > label.on-input-non-empty:not(.on-input-disabled) {
  color: #7e7e7e;
}
main section.task .seq {
  width: fit-content;
}
main section.task .seq > .comment > textarea {
  height: 102px;
}
main section.task .seq > .comment > div {
  display: grid;
  grid-auto-flow: column;
}
main section.task .seq > .comment > div > .note {
  font-size: 11px;
  text-align: left;
}
main section.task .seq > .comment > div > .note:last-child {
  text-align: right;
}
main section.task .seq > .seq-stars {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  padding: 0;
}
main section.task .seq > .seq-stars > li {
  list-style-type: none;
  height: 32px;
  line-height: 32px;
}
main section.task .seq > .seq-stars > li:first-child, main section.task .seq > .seq-stars > li:last-child {
  font-size: 14px;
}
main section.task .seq > .seq-stars > li:first-child {
  padding-right: 14px;
}
main section.task .seq > .seq-stars > li:last-child {
  padding-left: 14px;
}
main section.task .seq > .seq-stars > li.seq-item {
  width: 32px;
}
main section.task .seq > .seq-stars > li.seq-item > i {
  cursor: pointer;
  font-size: 32px;
  color: #8b8b8b;
  transition: color 0.1s ease-in-out;
}
main section.task .seq > .seq-stars > li.seq-item > i:hover {
  color: #9c9c9c;
}
main section.task .seq > .seq-stars.disabled > li.seq-item > i {
  cursor: default;
  color: #ddd;
}

/*# sourceMappingURL=styles.css.map */
