.tiny_popup .nice-select .list .option {
  line-height: 1;
  display: grid;
  padding-top: .25rem;
  padding-bottom: .25rem;
  align-content: center;
}

#list_of_schemes > #popup_contents {
  display: grid;
  justify-content: center;
  grid-row-gap: .5rem;
}

.scheme {
  cursor: pointer;
  width: 177px;
  height: 31px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  border: 3px solid transparent;
}

.scheme.chosen {
  border-color: #111;
}

.scheme::before {
  content: '';
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .2s ease-out;
  box-sizing: border-box;
}

.scheme:hover::before {
  background: rgba(0, 0, 0, 0);
}

.scheme > div {
  width: 57px;
  height: 25px;
  border-radius: 0;
}

.scheme.blue > div:nth-of-type(1) {
  background: #fff;
}

.scheme.blue > div:nth-of-type(2) {
  background: #ebe7e0;
}

.scheme.blue > div:nth-of-type(3) {
  background: #43649d;
}

.scheme.green > div:nth-of-type(1) {
  background: #fdfffc;
}

.scheme.green > div:nth-of-type(2) {
  background: #e5f7ca;
}

.scheme.green > div:nth-of-type(3) {
  background: #527c13;
}

.scheme.monochromatic > div:nth-of-type(1) {
  background: #fff;
}

.scheme.monochromatic > div:nth-of-type(2) {
  background: #e8e8e8;
}

.scheme.monochromatic > div:nth-of-type(3) {
  background: #b90504;
}

.scheme.orange > div:nth-of-type(1) {
  background: #fafaff;
}

.scheme.orange > div:nth-of-type(2) {
  background: #fee7aa;
}

.scheme.orange > div:nth-of-type(3) {
  background: #fa6900;
}

.scheme.purple > div:nth-of-type(1) {
  background: #fff;
}

.scheme.purple > div:nth-of-type(2) {
  background: #f2c9e4;
}

.scheme.purple > div:nth-of-type(3) {
  background: #300030;
}
