.template {
  border: 1px solid #ebd4cb;
  position: relative;
  display: grid;
}

.template h2 {
  position: absolute;
  background: #705d56;
  width: auto;
  color: #fff;
  padding: .25rem .5rem 0 .5rem;
  top: 0;
  left: 0;
  border-radius: 0 16px 16px 0;
}

.template.header h2 {
  border-radius: 0 0 16px 0;
}

.template:hover {
  border-color: #705d56;
  cursor: pointer;
}

.template .grid {
  display: grid;
}

.template .grid:not(.not_empty) {
  align-content: center;
  align-items: center;
  justify-items: center;
}

.template .grid .add_item_msg {
  text-align: center;
  font-size: 1.25rem;
  color: #705d56;
}

.template .grid i.icon_add_item {
  display: block;
  color: #705d56;
  font-size: 2.5rem;
}

.template .grid.not_empty i.icon_add_item,
.template .grid.not_empty .add_item_msg {
  display: none;
}

.template h2, header h1,
.template .grid .add_item_msg,
.icon_add_item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.template .control_panel {
  background: #705d56;
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding: 0 .5rem;
  border-radius: 16px 0 0 16px;
}

.template .control_panel i.icon_settings {
  padding-right: .5rem;
}

.template.header .control_panel {
  border-radius: 0 0 0 16px;
}

.template .grid:not(.not_empty) + .control_panel {
  display: none;
}

.template .control_panel i:hover {
  color: #ebd4cb;
}