.template {
  overflow: hidden;
  border: 1px solid #99e1d9;
  position: relative;
  display: grid;
}

.template > h2 {
  position: absolute;
  z-index: 3;
  background: #705d56;
  width: auto;
  color: #fff;
  padding: .25rem .5rem 0 .5rem;
  top: 0;
  left: 0;
  border-radius: 0 16px 16px 0;
}

.template.header > h2 {
  border-radius: 0 0 16px 0;
}

.template:hover {
  border-color: #705d56;
  cursor: pointer;
}

.template .grid {
  display: grid;
  z-index: 2;
}

.template .grid:not(.not_empty) {
  align-content: center;
  align-items: center;
  justify-items: center;
}

.no_content_panel {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no_content_panel .add_item_msg {
  text-align: center;
  font-size: 1.25rem;
  color: #705d56;
}

.no_content_panel i.icon_add_item {
  display: block;
  color: #705d56;
  font-size: 2.5rem;
}

.template .grid.not_empty + .no_content_panel {
  display: none;
}

.template > h2, header h1,
.template .grid .add_item_msg,
.icon_add_item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.template .control_panel {
  z-index: 3;
  background: #705d56;
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding: 0 .5rem;
  border-radius: 16px 0 0 16px;
  display: none;
}

.template .control_panel i.icon_settings {
  padding-right: .5rem;
}

.template.header .control_panel {
  border-radius: 0 0 0 16px;
}
.item_panel i:hover,
.template .control_panel i:hover {
  color: #ebd4cb;
}

.grid .item {
  position: relative;
  display: grid;
}

.grid .item, .item_contents {
  align-items: center;
}

.grid .item blockquote {
  margin:0;
  background: rgba(0, 0, 0, .25);
  display: inline-block;
  padding: .25rem .5rem;
}

.grid .item blockquote::before {
  content: '„';
}

.grid .item blockquote::after {
  content: '”';
}

.grid .item a {
  text-decoration: none;
  color: inherit;
}

.grid .item a:hover {
  text-decoration: underline;
}

.grid .item button {
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-family: inherit;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.item_contents {
  padding: .25rem;
  /*display: grid;*/
}

.item_panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #705d56;
  color: #fff;
  border-radius: 4px;
  padding: .125rem;
}

.item_panel i {
  vertical-align: middle;
}

.control_panel, .template > h2, .item_panel, #next_step {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}