.template {
  border: 1px solid #ebd4cb;
  position: relative;
  display: grid;
}

.template h2 {
  position: absolute;
  background: #705d56;
  width: auto;
  color: #fff;
  padding: .25rem .5rem 0 .5rem;
}

.template.header h2 {
  border-radius: 0 0 16px 0;
  top: -1px;
  left: -1px;  
}

.template.main_part h2 {
  border-radius: 16px 0 0 16px;
  right: -1px;
  left: auto;
}

.template.footer h2 {
  border-radius: 0 16px 0 0;
  left: -1px;
  bottom: -1px;
}

.template:hover {
  border-color: #705d56;
  cursor: pointer;
}

.template .grid {
  display: grid;
}

.template .grid:not(.not_empty) {
  align-content: center;
  align-items: center;
  justify-items: center;
}

.template .grid .add_item_msg {
  text-align: center;
  font-size: 1.25rem;
  color: #705d56;
}

.template .grid.not_empty .add_item_msg {
  display: none;
}

.template .grid i.add_item_icon {
  display: block;
  color: #705d56;
  font-size: 2.5rem;
}

.template .grid.not_empty i.add_item_icon {
  border-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #705d56;
}

.template .grid.not_empty i.add_item_icon:hover {
/*  
  background: #4f71aa;
*/
}

.template.header .grid.not_empty i.add_item_icon {
  left: auto;
  right: 0;
}

.template h2, header h1,
.template .grid .add_item_msg,
.template .grid .add_item_icon {
  user-select: none;
}