body {
  background: #f0f7f4;
  color: #32292f;
  font-size: 16px;
}

body, button, input {
  font-family: 'Saira Semi Condensed', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

footer a, .template, i, #save_file {
  transition: all .2s ease-out;
}

.text_align_right {
  text-align: right;
}

#page_container {
  max-width: 1024px;
  width: 100%;
  background: #99e1d9;
  padding: 1rem;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template: auto 1fr auto / auto;
}

#main_content {
  display: grid;
  background: #ebd4cb;
  color: #32292f;
  height: 100%;
  grid-template: 1fr 1fr 1fr / auto;
  position: relative;
}

header {
  position: relative;
}

#restart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  cursor: pointer;
  background: #32292f;
  color: #fff;
  border-radius: 32px;
}

#restart:hover {
  background: #735f6c;
}

header h1 {
  padding-bottom: .5rem;
}

footer {
  display: grid;
  padding-top: .5rem;
  grid-template: auto / 1fr 1fr;
}

footer a:hover {
  background: #419f95;
  color: #fff;
}

button {
  display: block;
}

.block.wrapper {
  display: block;
}

#next_step {
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px 16px 0 0;
  transition: none;
  background: #32292f;
  color: #fff;
  padding: 0 .5rem;
  height: 35px;
  line-height: 35px;
  z-index: 3;
}

#next_step:hover {
  background: #453841;
}

#next_step.visible {
  transition: all .2s ease-out;
}

#next_step i {
  vertical-align: middle;
  font-size: 18px;
}

#mask {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

.tiny_popup {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2274a5;
  color: #fff;
  display: none;
  width: 220px;
  padding: .5rem;
  background: #444;
}

.tiny_popup h2 {
  margin-bottom: .5rem;
}

.tiny_popup,
.tiny_popup * {
  border-radius: 2.5px;
}

.tiny_popup input {
  background: #acbdba;
  font-weight: bold;
  border: none;
  outline: none;
  padding: .25rem;
  margin-right: .25rem;
  color: #051014;
}

.tiny_popup .btn {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  text-align: center;
  background: #355691;
  cursor: pointer;
  padding: .125rem .5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.tiny_popup .btn:hover {
  background: #3a5d9d;
}

.tiny_popup i {
  position: absolute;
  right: .25rem;
  top: .25rem;
  cursor: pointer;
}

.tiny_popup i:hover {
  color: #a3b8dd;
}

.no_val_err {
  display: none;
  font-size: .875rem;
  background: #db2b39;
  color: #fff;
  text-align: center;
  max-width: 95%;
  margin: 0 auto;  
}

.tiny_popup .no_val_err {
  margin-top: 1rem;
}

#file_save_success span {
  display: block;
}