.nice-select {
  -webkit-tap-highlight-color: transparent;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  outline: none;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: 150px !important;
  position: relative;
  grid-column: span 2;
}

.nice-select span.current {
  position: absolute;
  padding-left: .5rem;
  width: calc(100% - 1.75rem);
  overflow: hidden;
  text-overflow: ellipsis;
}

.nice-select:after {
  border-bottom: 2px solid #051014;
  border-right: 2px solid #051014;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
          transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px; 
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); 
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.nice-select .list {
  background: #acbdba;
  border-radius: inherit;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  margin-top: 0;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
      -ms-transform: scale(0.75) translateY(-21px);
          transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9; 
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: normal;
  line-height: 30px;
  list-style: none;
  min-height: 30px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; 
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background: #f8c7cc;
}

.nice-select .option.selected {
  font-weight: bold; 
}

.nice-select .list {
  max-width: 150px;
}

.nice-select .list .option {
  white-space: normal;
}