.tiny_popup {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: none;
  width: 220px;
  padding: .5rem;
  background: #444;
  text-align: center;
}

.tiny_popup h2 {
  margin-bottom: .5rem;
}

.tiny_popup * {
  text-align: left;
}

.tiny_popup,
.tiny_popup * {
  border-radius: 2.5px;
}

.tiny_popup .nice-select,
.tiny_popup .grid_n,
.tiny_popup input,
.tiny_popup textarea {
  background: #acbdba;
  font-weight: bold;
  border: none;
  padding: .25rem;
  color: #051014;
}

.tiny_popup .color_square {
  cursor: pointer;
}

.tiny_popup input {
  margin-right: .25rem;
}

.tiny_popup textarea {
  width: calc(100% - .5rem);
  min-height: 150px;
  margin: 0 .25rem;
}

.tiny_popup #item_tags,
.tiny_popup #item_additions {
  text-align: left;
  margin: .5rem .25rem;
}

.tiny_popup #item_additions {
  margin-top: .75rem;
  margin-bottom: 1.25rem;
}

.tiny_popup .sq_btn,
.tiny_popup .btn {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  background: #355691;
  cursor: pointer;
  padding: .125rem .5rem;
}

.tiny_popup .btn:hover {
  background: #3a5d9d;
}

.tiny_popup .sq_btn {
  background: #556f7a;
  margin-top: .25rem;
  margin-right: .25rem;
  min-width: 30px;
  height: 30px;
  line-height: 27px;
}

.tiny_popup .sq_btn:hover {
  background: #4e6670;
}

#item_additions .sq_btn:last-of-type,
#item_tags .sq_btn:last-of-type {
  margin-right: 0;
}

#item_tags h3, #item_additons h3 {
  margin-bottom: .25rem;
}

#tag_b {
  font-weight: bold;
}

#tag_i {
  font-style: italic;
}

#tag_u {
  text-decoration: underline;
}

#tag_s {
  text-decoration: line-through;
}

.tiny_popup i {
  position: absolute;
  right: .25rem;
  top: .25rem;
  cursor: pointer;
}

.tiny_popup i:hover {
  color: #a3b8dd;
}

.popup_err {
  display: none;
  font-size: .875rem;
  background: #db2b39;
  color: #fff;
  text-align: center;
  max-width: 200px;
  width: 95%;
  margin: 0 auto;
}

.popup_err.visible {
  display: block;
}

.popup_err.alert {
  line-height: 1.25;  
  color: #32292f;
  background: #ffe1c6;
  max-width: 300px;
}

.tiny_popup .popup_err {
  margin-top: 1rem;
}

#file_save_success span {
  display: block;
}

#item_set_css > .grid_line {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: .75rem;
  align-items: center;
}

#item_set_css > .grid_line.color_selection {
  grid-template-columns: 50% auto auto;
}

#item_set_css > .grid_line.color_selection > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

input#border_radius,
input#padding,
input.item_color,
input.item_bg {
  width: 30px;
  text-align: center;
}

input#line_height {
  width: 40px;
  text-align: center;  
}

input.item_color,
input.item_bg {
  margin-right: 0;
}

span.current {
  margin-top: -3px;
}

#item_color_sq,
#item_bg_sq {
  width: 15px;
  height: 15px;
  background: red;
  display: inline-block;
}

#item_style_popup .btn_save {
}

#item_contents {
  resize: none;
}

#item_style_popup,
#item_text_popup {
  width: 330px;
}

#grid_settings_popup {
  width: 300px;
}

.grid_number {
  align-items: center;
  display: grid !important;
  grid-template: auto / auto auto auto auto;
}

.grid_math_btn {
  font-size: 40px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid_math_btn:hover {
  color: #a3b8dd;
}

.grid_n {
  width: 30px;
  height: 30px;
  margin: 0 .25rem;
  text-align: center;
  line-height: 27.5px;
  font-size: 22px;
}

.grid_math_btn.plus {
  margin-left: .5rem;
}

.line_height_one {
  line-height: 1;
}

.tiny_popup #color_picker {
  width: 100%;
  display: none;
}

.tiny_popup #color_picker #rect_wrap {
  width: 100%;
  height: 100%;
}

.tiny_popup #color_picker #rect {
  background: #000;
  height: 100%;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.tiny_popup #color_picker input.color {
  width: 100%;
  font-size: 1rem;
}

.tiny_popup #color_picker input.color#hex {
  text-transform: uppercase;
}

.tiny_popup #color_picker .grid_line.col1_row2 {
  justify-content: end;
  grid-row-gap: .5rem;
  padding: 0 1rem 0 .5rem;
}

.grid_line {
  display: grid;
  width: 100%;
}

.grid_line.col2_row1 {
  grid-template: auto / auto auto;
}

.grid_line.col3_row1 {
  grid-template: auto / auto auto auto;
}

.grid_line.col1_row2 {
  grid-template: auto auto / auto;
}

.grid_line.justify_start {
  justify-content: start;
}

.tiny_popup #color_picker .grid_line.col2_row1 {
  grid-template-columns: 50% 50%;
}

.tiny_popup #color_picker .strap_container {
  margin: 1rem auto .5rem auto;
  width: 256px;
}

.tiny_popup #color_picker .strap_handler {
  cursor: pointer;
  display: block;
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% + 24px);
  height: 43px;
  margin-left: -12px;
  background: none !important;
  outline: none;
}

.tiny_popup #color_picker .strap_handler::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  margin-top: -20px;
  background: none;
  border-top: 12px solid #fff;
  border-left:  9px solid transparent;
  border-right: 9px solid transparent;
}

.tiny_popup #color_picker .strap {
  width: 100%;
  height: 30px;
  margin-top: -29px;
  background: #000;
}

.tiny_popup #color_picker table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.tiny_popup #color_picker .strap td {
  padding: 0;
  margin: 0;
  width: 1px;
  height: 30px;
}

#item_padding {
  grid-column: span 3;
  width: 100% !important;
  grid-template: auto / 1fr 30px !important;
}

#line_height_wrapper .grid_math_btn {
  margin: 0;
  font-size: 30px;
}

#line_height {
  margin: 0 .5rem;
}