.container1 {
  justify-items: start;
}

.container2 {
  justify-items: end;
}

.item {
  width: 50%;
}

.item1 {
  grid-area: 1 / 1 / 2 / 2;
}

.item2 {
  grid-area: 1 / 2 / 2 / 4;
}

.item3 {
  grid-area: 2 / 1 / 4 / 3;
}

.item4 {
  grid-area: 2 / 3 / 4 / 4;
}