$primary-color:      #a63446;
$bg-color:           #f9f9f9;
$border-color-m:     #eee;
$border-color-d:     #ddd;
$text-color:         rgba(0, 0, 0, .7);
$input-color-m:      #212121;
$input-color-b:      #7e7e7e;
$placeholder-color:  #b1b1b1;
$button-color-m:     #8b8b8b;
$button-color-h:     #9c9c9c;
$transition:         .1s ease-in-out;

$value-xs:  3.5px;
$value-s:   7px;
$value-m:   14px;
$value-l:   21px;
$value-xl:  28px;
$value-xxl: 56px;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

%text-spacing {
    letter-spacing: .1px;
}

%text-normal {
    @extend %text-spacing;
    color: $text-color;
    font-size: 16px;
}

%block-alt {
    @extend %text-spacing;
    background: #fff;
    border: 2px solid $border-color-m;
    color: $input-color-m;
    font-size: 14px;

    p {
        color: inherit;
        line-height: inherit;
    }
}

%block-alt-child {
    border: 0;
    border-bottom: 1px solid $border-color-m;
}

%block-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%margin-top-zero {
    margin-top: 0;
}

%margin-top-btm-s {
    margin-top: $value-s;
    margin-bottom: $value-s;
}

%margin-top-btm-m {
    margin-top: $value-m;
    margin-bottom: $value-m;
}

%margin-top-btm-l {
    margin-top: $value-l;
    margin-bottom: $value-l;
}

%margin-top-btm-xl {
    margin-top: $value-xl;
    margin-bottom: $value-xl;
}

%margin-top-btm-xxl {
    margin-top: $value-xxl;
    margin-bottom: $value-xxl;
}

%padding-to-btm-s {
    padding-top: $value-s;
    padding-bottom: $value-s;
}

%padding-top-btm-xxl {
    padding-top: $value-xxl;
    padding-bottom: $value-xxl;
}

%padding-l {
    padding: $value-l;
}

%padding-m {
    padding: $value-m;
}

%padding-s {
    padding: $value-s;
}

%padding-xs {
    padding: $value-xs;
}

%radius {
    border-radius: 4px;
}

.hidden {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

button, p, h1, h2, h3, h4 a, label, span, td, th, i.material-icons {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#root {
    display: grid;
    height: 100%;
}

#page-container {
    > * > * {
        @extend %block-centered;
        max-width: 760px;
    }

    > header {
        background: $primary-color;
        height: 256px;
        padding: 115px 0 0 0;
        color: #fff;
        font-size: 56px;
    }

    &.header-fixed {
        margin-top: 256px;

        > header {
            @extend %padding-to-btm-s;
            height: 35px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 666;

            > p {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-column-gap: $value-s;

                > span {
                    line-height: 1;
                }

                > span:first-child {
                    font-size: $value-l;
                }

                > span:nth-child(2) {
                    font-size: 12px;
                    align-self: end;
                    padding-bottom: 1px;
                }

                > i {
                    cursor: pointer;
                    font-size: 21px;
                    color: $primary-color;
                    background: rgba(255, 255, 255, 1);
                    border-radius: 50%;
                    transition: background $transition;
                }

                > i:hover {
                    background: rgba(255, 255, 255, .85);
                }
            }
        }
    }
}

main {
    background: $bg-color;
    @extend %padding-top-btm-xxl;
    min-height: calc(100% - 256px);
    overflow-y: auto;

    .text-important {
        color: $primary-color;
    }

    a {
        color: $primary-color;
        text-decoration: none;
    }

    p {
        text-align: justify;
        line-height: 1.75;
        @extend %text-normal;

        &.note-required {
            font-size: 11px;
        }
    }

    h1, h2, h3, h4 {
        color: $primary-color;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    button {
        @extend %radius;
        outline: none;
        position: relative;
        cursor: pointer;
        border: 0;
        background: #8b8b8b;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1.25px;
        padding: 0 14px;
        height: 36px;
        text-transform: uppercase;
        transition: background $transition, color $transition;

        &:hover {
            background: #9c9c9c;
        }

        &[disabled] {
            cursor: default;
            background: #e0e0e0;
            color: #bebebe;
        }
    }

    textarea, input {
        @extend %padding-s;
        @extend %radius;
        font-size: inherit;
        color: $input-color-m;
        border: 2px solid $border-color-d;
        transition: color $transition, background $transition, border-color $transition;

        &.error {
            color: $primary-color;
            border-color: $primary-color;
        }

        &:disabled  {
            background: $border-color-m;
            color: $border-color-d;
        }

        &:focus {
            outline: none;
            border-color: $input-color-b;
        }
    }

    textarea {
        resize: none;
        width: 100%;
    }

    table {
        @extend %margin-top-btm-xl;
        @extend %block-alt;
        @extend %radius;
        display: table !important;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;

        th, td {
            @extend %block-alt-child;
            @extend %padding-m;
            line-height: 1;
        }

        th {
            font-weight: 700;
            text-align: left;
        }
    }

    section {
        > * {
            @extend %margin-top-btm-m;
            @extend %block-centered;

            &:first-child {
                margin-top: 0 !important;
            }

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        &.task {
            .task-form {
                @extend %margin-top-btm-xl;
                @extend %block-alt;
                @extend %block-centered;
                @extend %radius;
                @extend %padding-l;
                position: relative;
                width: fit-content;

                > i.insert-everything {
                    cursor: pointer;
                    position: absolute;
                    top: $value-l;
                    right: $value-l;
                    margin: 0;
                    color: $primary-color;
                }

                > .wrapper {
                    @extend %margin-top-btm-l;
                    display: grid;
                    align-items: center;

                    > label, > input {
                        line-height: 1;
                        display: block;
                    }

                    &.on-task-error.on-input-invalid {
                        > input {
                            border-color: $primary-color !important;
                            color: $primary-color !important;
                        }

                        > label {
                            color: $primary-color !important;
                        }
                    }
                }

                > p.on-task-error {
                    font-size: 14px;
                    text-align: center;
                }

                &.labels-align-left, &.labels-align-right {
                    > .wrapper {
                        grid-template-columns: auto 200px;
                        grid-column-gap: $value-l;
                    }
                }

                &.labels-align-left {
                    width: 430px;
                }

                &.labels-align-right {
                    width: 380px;

                    > .wrapper {
                        > label {
                            text-align: right;
                        }
                    }
                }

                &.labels-align-top {
                    width: 223px;

                    > .wrapper {
                        grid-row-gap: $value-xs;
                    }
                }

                &.labels-float-top {
                    width: 240px;

                    > .wrapper {
                        position: relative;

                        > label {
                            cursor: text;
                            position: absolute;
                            left: $value-s;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: all $transition;
                            z-index: 1;
                            color: $placeholder-color;
                            background: #fff;

                            &.on-input-disabled {
                                background: $border-color-m;
                            }

                            &.on-input-focus,
                            &.on-input-non-empty:not(.on-input-disabled) {
                                font-size: 12px;
                                margin-top: -16px;
                                padding: 0 2px;
                            }

                            &.on-input-focus,
                            &.on-input-non-empty:not(.on-input-disabled) {
                                color: $input-color-b;
                            }
                        }
                    }
                }
            }

            .seq {
                @extend %margin-top-btm-xl;
                @extend %block-alt;
                @extend %radius;
                @extend %padding-l;
                width: fit-content;

                > .comment {
                    > textarea {
                        height: 102px;
                    }

                    > div {
                        display: grid;
                        grid-auto-flow: column;

                        > .note {
                            font-size: 11px;
                            text-align: left;
                        }

                        > .note:last-child {
                            text-align: right;
                        }
                    }
                }

                > .seq-stars {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: center;
                    padding: 0;

                    > li {
                        list-style-type: none;
                        height: 32px;
                        line-height: 32px;

                        &:first-child, &:last-child {
                            font-size: $value-m;
                        }

                        &:first-child {
                            padding-right: $value-m;
                        }

                        &:last-child {
                            padding-left: $value-m;
                        }

                        &.seq-item {
                            width: 32px;

                            > i {
                                cursor: pointer;
                                font-size: 32px;
                                color: $button-color-m;
                                transition: color $transition;
                            }

                            > i:hover {
                                color: $button-color-h;
                            }
                        }
                    }

                    &.disabled {
                        > li {
                            &.seq-item {
                                > i {
                                    cursor: default;
                                    color: $border-color-d;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > section {
        @extend %margin-top-btm-xl;

        > section {
            @extend %margin-top-btm-l;
        }
    }
}