$primary-color:      #a63446;
$bg-color:           #f9f9f9;
$border-color-main:  #eee;
$border-color-dark:  #ddd;
$text-color-main:    rgba(0, 0, 0, .7);
$input-color:        #212121;
$placeholder-color:  #b1b1b1;
$transition:         .1s ease-in-out;

$value-xs:  3.5px;
$value-s:   7px;
$value-m:   14px;
$value-l:   21px;
$value-xl:  28px;
$value-xxl: 56px;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

%text-spacing {
    letter-spacing: .1px;
}

%text-normal {
    @extend %text-spacing;
    color: $text-color-main;
    font-size: 16px;
}

%mask {
    position: relative;

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bg-color;
        // transition: opacity .2s ease-in-out, z-index 0s .2s;
        z-index: -1;
        opacity: 0;
    }

    &.disabled::before {
        opacity: .95;
        z-index: 100;
    }
}

%block-alt {
    @extend %text-spacing;
    background: #fff;
    border: 2px solid $border-color-main;
    color: $input-color;
    font-size: 14px;
}

%block-alt-child {
    border: 0;
    border-bottom: 1px solid $border-color-main;
}

%block-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%margin-top-zero {
    margin-top: 0;
}

%margin-top-btm-s {
    margin-top: $value-s;
    margin-bottom: $value-s;
}

%margin-top-btm-m {
    margin-top: $value-m;
    margin-bottom: $value-m;
}

%margin-top-btm-l {
    margin-top: $value-l;
    margin-bottom: $value-l;
}

%margin-top-btm-xl {
    margin-top: $value-xl;
    margin-bottom: $value-xl;
}

%margin-top-btm-xxl {
    margin-top: $value-xxl;
    margin-bottom: $value-xxl;
}

%padding-top-btm-xxl {
    padding-top: $value-xxl;
    padding-bottom: $value-xxl;
}

%padding-l {
    padding: $value-l;
}

%padding-m {
    padding: $value-m;
}

%padding-s {
    padding: $value-s;
}

%padding-xs {
    padding: $value-xs;
}

%radius {
    border-radius: 4px;
}

.hidden {
    display: none !important;
}


html, body {
    height: 100%;
}

button, p, h1, h2, h3, a, label, span, td {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#page-container > * > * {
    @extend %block-centered;
    max-width: 760px;
}

header {
    background: $primary-color;
    height: 256px;
    padding: 115px 0 0 0;
    color: #fff;
    font-size: 56px;
}

main {
    background: $bg-color;
    @extend %padding-top-btm-xxl;
    min-height: calc(100% - 256px);
    overflow-y: auto;

    .text-important {
        color: $primary-color;
    }

    a {
        color: $primary-color;
        text-decoration: none;
    }

    p {
        text-align: justify;
        line-height: 1.75;
        @extend %text-normal;
    }

    h1 {
        color: $primary-color;
        font-size: 30px;
    }

    h2 {
        color: $primary-color;
        font-size: 24px;
    }

    h3 {
        color: $primary-color;
        font-size: 18px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    button {
        @extend %radius;
        outline: none;
        position: relative;
        cursor: pointer;
        border: 0;
        background: #8b8b8b;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1.25px;
        padding: 0 14px;
        height: 36px;
        text-transform: uppercase;
        transition: background $transition, color $transition;
        // transition: border-color .2s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;

        &:hover {
            background: #9c9c9c;
        }

        &[disabled] {
            cursor: default;
            background: #e0e0e0;
            color: #bebebe;
        }
    }

    section {
        > * {
            @extend %margin-top-btm-m;
            @extend %block-centered;
        }

        > table {
            @extend %margin-top-btm-xl;
            @extend %block-alt;
            @extend %radius;
            display: table !important;
            table-layout: fixed;
            border-spacing: 0;
            border-collapse: collapse;

            th, td {
                @extend %block-alt-child;
                @extend %padding-m;
                line-height: 1;
            }

            th {
                font-weight: 700;
                text-align: left;
            }
        }

        &.task {
            @extend %mask;
        }

        .form-container {
            @extend %margin-top-btm-xxl;
            @extend %block-alt;
            @extend %radius;
            @extend %padding-l;

            > form {
                margin: 0 auto;
                width: fit-content;

                h3 {
                    @extend %margin-top-btm-l;
                }

                .wrapper {
                    @extend %margin-top-btm-l;
                    display: grid;
                    align-items: center;

                    label, input {
                        line-height: 1;
                        display: block;
                    }

                    input {
                        @extend %padding-s;
                        @extend %radius;
                        font-size: inherit;
                        color: $input-color;
                        border: 2px solid $border-color-dark;

                        &.error {
                            color: $primary-color;
                            border-color: $primary-color;
                        }

                        &:disabled  {
                            background: $border-color-main;
                            color: $border-color-dark;
                        }

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }
                }

                &.labels-align-left, &.labels-align-right {
                    .wrapper {
                        grid-template-columns: auto 200px;
                        grid-column-gap: $value-l;
                    }
                }

                &.labels-align-right {
                    .wrapper {
                        label {
                            text-align: right;
                        }
                    }
                }

                &.labels-align-top {
                    .wrapper {
                        grid-row-gap: $value-xs;
                    }
                }

                &.labels-float-top {
                    .wrapper {
                        position: relative;

                        label {
                            position: absolute;
                            left: $value-s;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: all .1s ease-in-out;
                            z-index: 1;
                            color: $placeholder-color;
                            background: #fff;
                        }

                        // input:disabled + label {
                        //     background: transparent;
                        // }

                        label.on-input-focus,
                        label.on-input-data {
                            font-size: 12px;
                            margin-top: -16px;
                            padding: 0 2px;
                            color: $primary-color;
                        }

                        label.on-input-data {
                            color: $placeholder-color;
                        }
                    }
                }
            }
        }
    }

    > section {
        @extend %margin-top-btm-xl;

        > section {
            @extend %margin-top-btm-l;
        }
    }
}
