* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

main section.task .seq, main section .form, main section.scenario .summary .questions, main table, main p {
  letter-spacing: 0.1px;
}

main p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

main section.task .seq, main section .form, main section.scenario .summary .questions, main table {
  background: #fff;
  border: 2px solid #eee;
  color: #212121;
  font-size: 14px;
}
main section.task .seq p, main section .form p, main section.scenario .summary .questions p, main table p {
  color: inherit;
  line-height: inherit;
}

main table th, main table td {
  border: 0;
  border-bottom: 1px solid #eee;
}

main section .form, main section > *, #page-container > * > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main section.scenario .summary .questions > .question-wrapper > h4 {
  margin-top: 3.5px;
  margin-bottom: 3.5px;
}

main section > * {
  margin-top: 14px;
  margin-bottom: 14px;
}

main > section > section, main section .form > .wrapper, main section.scenario .summary .questions > .question-wrapper {
  margin-top: 21px;
  margin-bottom: 21px;
}

main > section, main section.task .seq, main section .form, main section.scenario .summary .questions, main table {
  margin-top: 28px;
  margin-bottom: 28px;
}

#page-container.header-fixed > header {
  padding-top: 7px;
  padding-bottom: 7px;
}

main {
  padding-top: 56px;
  padding-bottom: 56px;
}

main section.task .seq, main section .form, main section.scenario .summary .questions {
  padding: 21px;
}

main table th, main table td {
  padding: 14px;
}

main .select-option, main .select-current, main textarea, main input {
  padding: 7px;
}

main section.task .seq, main section .form > .wrapper > .select-wrapper > .select-list, main section .form, main section.scenario .summary .questions > .question-wrapper > ul > li, main section.scenario .summary .questions, main .select-option, main .select-current, main textarea, main input, main button, main table {
  border-radius: 4px;
}

main section.task .seq, button, p, h1, h2, h3, h4, a, label, span, td, th, i.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

::selection {
  background: #a63446;
  color: #fff;
}

#root {
  display: grid;
  height: 100%;
}

#page-container > * > * {
  max-width: 760px;
}
#page-container > header {
  background: #a63446;
  height: 256px;
  padding: 115px 0 0 0;
  color: #fff;
  font-size: 56px;
}
#page-container.header-fixed {
  margin-top: 256px;
}
#page-container.header-fixed > header {
  height: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 666;
}
#page-container.header-fixed > header > p {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 7px;
}
#page-container.header-fixed > header > p > span {
  line-height: 1;
}
#page-container.header-fixed > header > p > span:first-child {
  font-size: 21px;
}
#page-container.header-fixed > header > p > span:nth-child(2) {
  font-size: 12px;
  align-self: end;
  padding-bottom: 1px;
}
#page-container.header-fixed > header > p > i {
  cursor: pointer;
  font-size: 21px;
  color: #a63446;
  background: white;
  border-radius: 50%;
  transition: background 0.1s ease-in-out;
}
#page-container.header-fixed > header > p > i:hover {
  background: rgba(255, 255, 255, 0.85);
}

main {
  background: #f9f9f9;
  min-height: calc(100% - 256px);
}
main .text-important {
  color: #a63446;
}
main a {
  color: #a63446;
  text-decoration: none;
}
main p {
  text-align: justify;
  line-height: 1.75;
}
main p.note {
  font-size: 11px;
  text-align: left;
}
main h1, main h2, main h3, main h4 {
  color: #a63446;
}
main h1 {
  font-size: 30px;
}
main h2 {
  font-size: 24px;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 16px;
}
main img {
  max-width: 100%;
  max-height: 100%;
}
main table {
  display: table !important;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
main table th, main table td {
  line-height: 1;
}
main table th {
  font-weight: 700;
  text-align: left;
}
main > *:first-child {
  margin-top: 0 !important;
}
main > *:last-child {
  margin-bottom: 0 !important;
}
main button {
  outline: none;
  position: relative;
  cursor: pointer;
  border: 0;
  background: #8b8b8b;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  padding: 0 14px;
  height: 36px;
  text-transform: uppercase;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}
main button:hover {
  background: #9c9c9c;
}
main button[disabled] {
  cursor: default;
  background: #e0e0e0;
  color: #bebebe;
}
main .comment > textarea {
  height: 102px;
}
main .comment > div {
  display: grid;
  grid-auto-flow: column;
}
main .comment > div > .note:last-child {
  text-align: right;
}
main .select-option, main .select-current, main textarea, main input {
  font-size: inherit;
  color: #212121;
  border: 2px solid #ddd;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
main .select-option:disabled, main .select-current:disabled, main textarea:disabled, main input:disabled {
  background: #eee;
  color: #ddd;
}
main .select-option:focus, main .select-current:focus, main textarea:focus, main input:focus {
  outline: none;
  border-color: #7e7e7e;
}
main textarea.error, main input.error {
  color: #a63446;
  border-color: #a63446;
}
main textarea {
  resize: none;
  width: 100%;
}
main label, main input {
  line-height: 1;
  display: block;
}
main .radio-item {
  display: grid;
  grid-auto-flow: column;
}
main .radio-item > .radio {
  cursor: pointer;
  background: transparent;
  width: 18px;
  height: 18px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
main .radio-item > .radio:before {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  background: #7e7e7e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
main .radio-item > .radio:hover:before {
  opacity: 1;
}
main .radio-item.disabled > .radio {
  border-color: #ddd;
  background: #eee;
}
main .radio-item.disabled > .radio:before {
  background: #ddd;
}
main .radio-item.chosen > .radio:before {
  opacity: 1;
}
main .radio-item > span {
  font-size: 12px;
}
main section > *:first-child {
  margin-top: 0 !important;
}
main section > *:last-child {
  margin-bottom: 0 !important;
}
main section.scenario .summary .questions {
  width: 615px;
}
main section.scenario .summary .questions > .question-wrapper > h4 {
  margin-top: 0;
}
main section.scenario .summary .questions > .question-wrapper > ul {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}
main section.scenario .summary .questions > .question-wrapper > ul > li {
  list-style-type: none;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 7px;
}
main section.scenario .summary .questions > .question-wrapper > ul > li > * {
  line-height: 1;
}
main section.scenario .summary .questions > .question-wrapper > ul > li > span {
  font-size: 14px;
}
main section.scenario .summary .questions > .note {
  text-align: right;
}
main section .form {
  position: relative;
  width: fit-content;
}
main section .form > i.insert-everything {
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 21px;
  margin: 0;
  color: #a63446;
}
main section .form > .wrapper {
  display: grid;
  align-items: center;
}
main section .form > .wrapper > .select-wrapper {
  position: relative;
}
main section .form > .wrapper > .select-wrapper > .select-current {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 24px;
  cursor: pointer;
  height: 35px;
  align-content: center;
}
main section .form > .wrapper > .select-wrapper > .select-current > span {
  align-self: center;
}
main section .form > .wrapper > .select-wrapper > .select-current > i {
  justify-self: end;
}
main section .form > .wrapper > .select-wrapper > .select-list {
  position: absolute;
  width: calc(100% - 14px);
  display: grid;
  grid-auto-flow: row;
  padding: 0;
  list-style-type: none;
  margin: 0 7px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  border: 2px solid #ddd;
  z-index: 1;
}
main section .form > .wrapper > .select-wrapper > .select-list.top {
  bottom: 35px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
main section .form > .wrapper > .select-wrapper > .select-list:not(.top) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
main section .form > .wrapper > .select-wrapper > .select-list > .select-option {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: #fff;
}
main section .form > .wrapper > .select-wrapper > .select-list > .select-option:hover {
  background: #eee;
}
main section .form > .wrapper > ul.input-list {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}
main section .form > .wrapper > ul.input-list > li {
  list-style-type: none;
}
main section .form > .wrapper > ul.input-list > li:nth-child(n+2) {
  margin-left: 14px;
}
main section .form > .wrapper.on-form-error.on-input-invalid > input {
  border-color: #a63446 !important;
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > label {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .select-wrapper > .select-current {
  border-color: #a63446 !important;
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .select-wrapper > .select-list {
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > .select-wrapper > .select-list > .select-option {
  color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > ul.input-list > li.radio-item > div {
  border-color: #a63446 !important;
}
main section .form > .wrapper.on-form-error.on-input-invalid > ul.input-list > li.radio-item > div:before {
  background: #a63446;
}
main section .form > p.on-form-error {
  font-size: 14px;
  text-align: center;
}
main section .form.labels-align-left > .wrapper, main section .form.labels-align-right > .wrapper {
  grid-template-columns: auto 200px;
  grid-column-gap: 21px;
}
main section .form.labels-align-left > .wrapper > .input-wrapper, main section .form.labels-align-right > .wrapper > .input-wrapper {
  grid-column: 2;
}
main section .form.labels-align-left {
  width: 430px;
}
main section .form.labels-align-right {
  width: 380px;
}
main section .form.labels-align-right > .wrapper > label {
  text-align: right;
}
main section .form.labels-align-top {
  width: 223px;
}
main section .form.labels-align-top > .wrapper {
  grid-row-gap: 3.5px;
}
main section .form.labels-float-top {
  width: 240px;
}
main section .form.labels-float-top > .wrapper {
  position: relative;
}
main section .form.labels-float-top > .wrapper > label {
  cursor: text;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease-in-out;
  z-index: 1;
  color: #b1b1b1;
  background: #fff;
}
main section .form.labels-float-top > .wrapper > label.on-input-disabled {
  background: #eee;
}
main section .form.labels-float-top > .wrapper > label.on-input-focus, main section .form.labels-float-top > .wrapper > label.on-input-non-empty:not(.on-input-disabled) {
  font-size: 12px;
  margin-top: -16px;
  padding: 0 2px;
}
main section .form.labels-float-top > .wrapper > label.on-input-focus, main section .form.labels-float-top > .wrapper > label.on-input-non-empty:not(.on-input-disabled) {
  color: #7e7e7e;
}
main section.task .seq {
  width: fit-content;
}
main section.task .seq > .seq-radios {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  padding: 0;
}
main section.task .seq > .seq-radios > li {
  list-style-type: none;
}
main section.task .seq > .seq-radios > li.seq-item {
  display: block;
  width: 36px;
  align-self: end;
}
main section.task .seq > .seq-radios > li.seq-item > div {
  font-size: 11px;
  text-align: center;
}
main section.task .seq > .seq-radios > li.seq-item > div.radio {
  margin: 0 auto;
}
main section.task .seq > .seq-radios > li.seq-item:first-child > div:first-child, main section.task .seq > .seq-radios > li.seq-item:last-child > div:first-child {
  margin-bottom: 3.5px;
}
main section.task .seq > .seq-radios > li.seq-item:first-child > div:first-child {
  text-align: left;
}
main section.task .seq > .seq-radios > li.seq-item:last-child > div:first-child {
  text-align: right;
}
main section.task .seq > .seq-radios + .note {
  text-align: right;
}
main section #user-form {
  width: 400px;
}

/*# sourceMappingURL=main.css.map */
