$primary-color:      #a63446;
$bg-color:           #f9f9f9;
$border-color-m:     #eee;
$border-color-d:     #ddd;
$text-color:         rgba(0, 0, 0, .7);
$input-color-m:      #212121;
$input-color-b:      #7e7e7e;
$placeholder-color:  #b1b1b1;
$button-color-m:     #8b8b8b;
$button-color-h:     #9c9c9c;
$button-color-d:     #e0e0e0;
$toggle-switch-on:   #668216;
$transition:         .1s ease-in-out;

$value-xs:  3.5px;
$value-s:   7px;
$value-m:   14px;
$value-l:   21px;
$value-xl:  28px;
$value-xxl: 56px;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

%text-spacing {
    letter-spacing: .1px;
}

%text-normal {
    @extend %text-spacing;
    color: $text-color;
    font-size: 16px;
}

%block-alt {
    @extend %text-spacing;
    background: #fff;
    border: 2px solid $border-color-m;
    color: $input-color-m;
    font-size: 14px;

    p {
        color: inherit;
        line-height: inherit;
    }
}

%block-alt-child {
    border: 0;
    border-bottom: 1px solid $border-color-m;
}

%block-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%margin-top-zero {
    margin-top: 0;
}

%margin-top-btm-xs {
    margin-top: $value-xs;
    margin-bottom: $value-xs;
}

%margin-top-btm-s {
    margin-top: $value-s;
    margin-bottom: $value-s;
}

%margin-top-btm-m {
    margin-top: $value-m;
    margin-bottom: $value-m;
}

%margin-top-btm-l {
    margin-top: $value-l;
    margin-bottom: $value-l;
}

%margin-top-btm-xl {
    margin-top: $value-xl;
    margin-bottom: $value-xl;
}

%margin-top-btm-xxl {
    margin-top: $value-xxl;
    margin-bottom: $value-xxl;
}

%padding-to-btm-s {
    padding-top: $value-s;
    padding-bottom: $value-s;
}

%padding-top-btm-xxl {
    padding-top: $value-xxl;
    padding-bottom: $value-xxl;
}

%padding-l {
    padding: $value-l;
}

%padding-m {
    padding: $value-m;
}

%padding-s {
    padding: $value-s;
}

%padding-xs {
    padding: $value-xs;
}

%radius {
    border-radius: 4px;
}

%noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.hidden {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

button, p, h1, h2, h3, h4, a, label, span, td, th, i.material-icons {
    @extend %noselect;
}

::selection {
    background: $primary-color;
    color: #fff;
}

#root {
    display: grid;
    height: 100%;
}

#page-container {
    > * > * {
        @extend %block-centered;
        // max-width: 760px;
        width: 760px;
    }

    > header {
        background: $primary-color;
        height: 256px;
        padding: 115px 0 0 0;
        color: #fff;
        font-size: 56px;
    }

    &.header-fixed {
        margin-top: 256px;

        > header {
            @extend %padding-to-btm-s;
            height: 35px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 666;

            > p {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-column-gap: $value-s;

                > span {
                    line-height: 1;
                }

                > span:first-child {
                    font-size: $value-l;
                }

                > span:nth-child(2) {
                    font-size: 12px;
                    align-self: end;
                    padding-bottom: 1px;
                }

                > i {
                    cursor: pointer;
                    font-size: 21px;
                    color: $primary-color;
                    background: rgba(255, 255, 255, 1);
                    border-radius: 50%;
                    transition: background $transition;
                }

                > i:hover {
                    background: rgba(255, 255, 255, .85);
                }
            }
        }
    }
}

main {
    background: $bg-color;
    @extend %padding-top-btm-xxl;
    min-height: calc(100% - 256px);

    .text-important {
        color: $primary-color;
    }

    a {
        color: $primary-color;
        text-decoration: none;
    }

    p {
        text-align: justify;
        line-height: 1.75;
        @extend %text-normal;

        &.note {
            font-size: 11px;
            text-align: left;
        }
    }

    h1, h2, h3, h4 {
        color: $primary-color;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    table {
        @extend %margin-top-btm-xl;
        @extend %block-alt;
        @extend %radius;
        display: table !important;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;

        th, td {
            @extend %block-alt-child;
            @extend %padding-m;
            line-height: 1;
        }

        th {
            font-weight: 700;
            text-align: left;
        }
    }

    > * {
        &:first-child {
            margin-top: 0 !important;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    .loader {
        display: block;
        width: 24px;
        height: 24px;

        &:after {
            content: ' ';
            display: block;
            width: 23px;
            height: 23px;
            margin: .5px;
            border-radius: 50%;
            border-width: 2.5px;
            border-style: solid;
            border-color: $primary-color transparent $primary-color transparent;
            animation: loader 1.2s linear infinite;
        }
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    button {
        @extend %radius;
        outline: none;
        position: relative;
        cursor: pointer;
        border: 0;
        background: $button-color-m;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1.25px;
        padding: 0 14px;
        height: 36px;
        text-transform: uppercase;
        transition: background $transition, color $transition;

        &:hover {
            background: $button-color-h;
        }

        &[disabled] {
            cursor: default;
            background: $button-color-d;
            color: #bebebe;
        }
    }

    .comment {
        > div {
            display: grid;
            grid-auto-flow: column;

            > .note:last-child {
                text-align: right;
            }
        }
    }

    .notes-wrapper {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    .comment-wrapper {
        > label {
            color: $primary-color;
            font-size: 16px;
            line-height: 1.5;
        }

        > textarea {
            margin: $value-xs 0 $value-m 0;
        }
    }

    .select-option, .select-current, textarea, input {
        @extend %padding-s;
        @extend %radius;
        font-size: inherit;
        color: $input-color-m;
        border: 2px solid $border-color-d;
        transition: color $transition, background $transition, border-color $transition;

        &:disabled  {
            background: $border-color-m;
            color: $border-color-d;
        }

        &:focus {
            outline: none;
            border-color: $input-color-b;
        }
    }

    textarea, input {
        &.error {
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    textarea {
        display: block;
        resize: none;
        width: 100%;
        height: 102px;
    }

    label, input {
        display: block;
    }

    label {
        line-height: 1.25;
    }

    input {
        line-height: 1;
    }

    .toggle-switch {
        @extend %radius;
        display: grid;
        cursor: pointer;
        align-content: center;
        width: 52px;
        height: 30px;
        padding: 4px;
        background: $button-color-m;
        transition: background $transition;

        &:before {
            @extend %radius;
            display: block;
            background: #fff;
            line-height: 22px;
            width: 22px;
            height: 22px;
            font-size: 10px;
            content: '|||';
            text-align: center;
            transition: color $transition, justify-self $transition;
        }

        &:hover {
            background: $button-color-h;

            &:before {
                color: $button-color-h;
            }
        }

        &.disabled.on,
        &.disabled.off,
        &.disabled {
            background: $button-color-d;
            cursor: default;

            &:before {
                color: $button-color-d;
            }
        }

        &.on {
            background: $toggle-switch-on;

            &:before {
                color: $toggle-switch-on;
                justify-self: end;
            }
        }
    }

    .radio-item {
        display: grid;
        grid-auto-flow: column;

        > .radio {
            cursor: pointer;
            background: transparent;
            width: 18px;
            height: 18px;
            border: 2px solid $border-color-d;
            border-radius: 50%;
            position: relative;
            margin-right: 5px;

            &:before {
                display: block;
                content: '';
                width: 50%;
                height: 50%;
                background: $input-color-b;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity $transition;
            }

            &:hover:before {
                opacity: 1;
            }
        }

        &.disabled {
            > .radio {
                border-color: $border-color-d;
                background: $border-color-m;
                cursor: default;

                &:before {
                    background: $border-color-d;
                    opacity: 0;
                }
            }
        }

        &.chosen {
            > .radio {
                &:before {
                    opacity: 1;
                }
            }
        }

        > span {
            font-size: 12px;
        }
    }

    section {
        > * {
            @extend %block-centered;
            @extend %margin-top-btm-m;

            &:first-child {
                margin-top: 0 !important;
            }

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        &.scenario {
            .summary {
                .questions {
                    @extend %block-alt;
                    @extend %margin-top-btm-xl;
                    @extend %block-alt;
                    @extend %radius;
                    @extend %padding-l;
                    width: 615px;

                    > .question-wrapper {
                        @extend %margin-top-btm-l;

                        > h4 {
                            @extend %margin-top-btm-xs;
                            margin-top: 0;
                        }

                        > ul {
                            padding: 0;
                            display: grid;
                            grid-auto-flow: column;
                            place-items: center;

                            > li {
                                @extend %radius;
                                list-style-type: none;
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                grid-auto-flow: column;
                                grid-column-gap: $value-s;

                                > * {
                                    line-height: 1;
                                }

                                > span {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    > .comment-wrapper {
                        > textarea {
                            margin-top: $value-xs;
                        }
                    }
                }
            }
        }

        .form {
            @extend %margin-top-btm-xl;
            @extend %block-alt;
            @extend %block-centered;
            @extend %radius;
            @extend %padding-l;
            position: relative;
            width: fit-content;

            > i.insert-everything {
                cursor: pointer;
                position: absolute;
                top: $value-l;
                right: $value-l;
                margin: 0;
                color: $primary-color;
            }

            > .wrapper {
                @extend %margin-top-btm-l;
                display: grid;
                align-items: center;

                > .select-wrapper {
                    position: relative;

                    > .select-current {
                        cursor: pointer;
                        display: grid;
                        grid-template-columns: 1fr 24px;
                        height: 35px;
                        align-content: center;
                        background: #fff;

                        > span {
                            align-self: center;
                        }

                        > i {
                            justify-self: end;
                        }

                        &.disabled {
                            cursor: default;
                            background: $border-color-m;
                            color: $border-color-d;
                        }

                        &.focus {
                            border-color: $input-color-b;
                            position: relative;
                            z-index: 2;
                        }
                    }

                    > .select-list {
                        @extend %radius;
                        position: absolute;
                        width: calc(100% - 14px);
                        display: grid;
                        grid-auto-flow: row;
                        padding: 0;
                        list-style-type: none;
                        margin: 0 $value-s;
                        background: transparent;
                        border: 2px solid $border-color-d;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0,.2);
                        z-index: 1;

                        &.top {
                            bottom: 35px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                            border-bottom: none;

                            &:not(:last-child) {
                                bottom: 75px;
                            }
                        }

                        &:not(.top) {
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            border-top: none;
                        }

                        > .select-option {
                            border: 0;
                            border-radius: 0;
                            cursor: pointer;
                            background: #fff;

                            &:hover {
                                background: $border-color-m;
                            }
                        }
                    }

                    > .select-other {
                        margin-top: 5px;
                        width: 100%;
                    }
                }

                > ul.input-list {
                    padding: 0;
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: start;

                    > li {
                        list-style-type: none;

                        &:nth-child(n+2) {
                            margin-left: $value-m;
                        }
                    }
                }

                &.on-form-error.on-input-invalid {
                    > input, > label {
                        color: $primary-color !important;
                    }

                    > textarea, > input {
                        border-color: $primary-color !important;
                    }

                    > .select-wrapper {
                        > .select-current, > .select-list, > .select-other  {
                            border-color: $primary-color !important;
                        }

                        > .select-current, > .select-list > .select-option , > .select-other {
                            color: $primary-color !important;
                        }
                    }

                    .toggle-switch {
                        background: $primary-color !important;

                        &:before {
                            color: $primary-color !important;
                        }
                    }

                    > ul.input-list {
                        > li {
                            &.radio-item {
                                > div {
                                    border-color: $primary-color !important;

                                    &:before {
                                        background: $primary-color;
                                    }
                                }

                                > span {
                                    color: $primary-color !important;
                                }
                            }
                        }
                    }
                }
            }

            > p.on-form-error {
                font-size: 14px;
                text-align: center;
            }

            &.labels-align-left, &.labels-align-right {
                > .wrapper {
                    grid-template-columns: auto 200px;
                    grid-column-gap: $value-l;

                    > .input-wrapper {
                        grid-column: 2;
                    }
                }
            }

            &.labels-align-left {
                width: 430px;
            }

            &.labels-align-right {
                width: 380px;

                > .wrapper {
                    > label {
                        text-align: right;
                    }
                }
            }

            &.labels-align-top {
                width: 223px;

                > .wrapper {
                    grid-row-gap: $value-xs;
                }
            }

            &.labels-placeholders,
            &.labels-float-top {
                width: 240px;

                > .wrapper {
                    position: relative;

                    > label {
                        cursor: text;
                        position: absolute;
                        left: $value-s;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all $transition;
                        z-index: 1;
                        color: $placeholder-color;
                        background: #fff;

                        &.on-input-disabled {
                            background: $border-color-m;
                        }

                        &.on-input-focus,
                        &.on-input-non-empty:not(.on-input-disabled) {
                            color: $input-color-b;
                        }
                    }
                }
            }

            &.labels-placeholders {
                > .wrapper {
                    > label {
                        &.on-input-disabled, &.on-input-focus,
                        &.on-input-non-empty:not(.on-input-disabled) {
                            display: none;
                        }
                    }
                }
            }

            &.labels-float-top {
                > .wrapper {
                    > label {
                        &.on-input-focus,
                        &.on-input-non-empty:not(.on-input-disabled) {
                            font-size: 12px;
                            margin-top: -16px;
                            padding: 0 2px;
                        }
                    }
                }
            }

            &.logic-values-toggle-switch {
                width: 560px;

                > .wrapper {
                    grid-template-columns: auto 52px;
                }
            }

            &.logic-values-radio {
                width: 640px;

                > .wrapper {
                    grid-template-columns: auto 120px;

                    > ul.input-list {
                        justify-content: end;
                    }
                }
            }

            &.logic-values-select {
                width: 600px;

                > .wrapper {
                    grid-template-columns: auto 75px;
                }
            }
        }

        &.task {
            .seq {
                @extend %margin-top-btm-xl;
                @extend %block-alt;
                @extend %radius;
                @extend %padding-l;
                @extend %noselect;
                width: fit-content;

                > .seq-radios {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: center;
                    padding: 0;

                    > li {
                        list-style-type: none;

                        &.seq-item {
                            display: block;
                            width: 36px;
                            align-self: end;

                            > div {
                                font-size: 11px;
                                text-align: center;

                                &.radio {
                                    margin: 0 auto;
                                }
                            }

                            &:first-child, &:last-child {
                                > div:first-child {
                                    margin-bottom: $value-xs;
                                }
                            }

                            &:first-child {
                                > div:first-child {
                                    text-align: left;
                                }
                            }

                            &:last-child {
                                > div:first-child {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }

        #user-form {
            width: 400px;

            ~ .loader {
                margin-top: $value-xl;
            }
        }
    }

    > section {
        @extend %margin-top-btm-xl;

        > section {
            @extend %margin-top-btm-l;
        }
    }
}