.item {
  grid-area: 1 / 1 / 4 / 4;
}

.grid_wrapper.beta {
  margin-top: 3rem;
}

.grid_wrapper.beta .container {
  display: grid;
  margin: 0 auto;
}

.grid_wrapper.beta .container.container4 {
  margin-top: 3rem;
}