.grid_wrapper.block .container  {
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 100px) / 1fr 1fr 1fr;
}

.grid_wrapper.block .container:not(:first-of-type) {
  margin-top: 3rem;
}

.item1 {
  grid-area: 1 / 1 / 2 / 4;
}

.item2 {
  grid-area: 2 / 1 / 3 / 4;
}

.item3 {
  grid-area: 3 / 1 / 4 / 4;
}

.container1 {
  align-content: space-around;
}

.container2 {
  align-content: space-evenly;
}

.container3 {
  align-content: space-between;
}

.container4 {
  align-content: center;
}

.container3, .container4 {
  margin-top: 3rem;
}
