* {
    font-family: 'Ubuntu Mono', monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #2f3234;
    color: #fff;
}

a {
    color: inherit;
}

a:not(:hover) {
    text-decoration: none;

}

#main-container {
    width: 600px;
    margin: 24px auto;
    text-align: center;
}

header {
}

#header-caption {
    margin-top: 4px;
    font-size: 10px;
}

#game-canvas {
    display: block;
    margin: 24px auto;
}

footer {
    font-size: 11px;
}