$primary-color:     #a63446;
$bg-color:          #f9f9f9;
$secondary-color:   #d6c9c9;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

%block-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%margin-top-zero {
    margin-top: 0;
}

%margin-top-btm-s {
    margin-top: 10px;
    margin-bottom: 10px;
}

%margin-top-btm-m {
    margin-top: 14px;
    margin-bottom: 14px;
}

%margin-top-btm-l {
    margin-top: 21px;
    margin-bottom: 21px;
}

%margin-top-btm-xl {
    margin-top: 28px;
    margin-bottom: 28px;
}

%padding-top-btm-xxl {
    padding-top: 56px;
    padding-bottom: 56px;
}

%padding-m {
    padding: 14px;
}

%text-normal {
    letter-spacing: .1px;
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    outline: none;
    position: relative;
    cursor: pointer;
    background: transparent;
    color: $primary-color;
    border-radius: 4px;
    border: 2px solid $primary-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.25px;
    padding: 0 14px;
    height: 36px;
    text-transform: uppercase;
}

button::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    opacity: 0;
}

button:hover::before {
    opacity: .08;
}

h1, h2, a, .text-important {
    color: $primary-color;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    line-height: 1.75;
    @extend %text-normal;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

.dummy {
    @extend %padding-m;
    text-align: center;
    color: #fff;
    background: $primary-color;
}

body > * > * {
    @extend %block-centered;
    max-width: 760px;
}

header {
    background: $primary-color;
    height: 256px;
    padding: 115px 0 0 0;
    color: #fff;
    font-size: 56px;
}

table {
    background: $secondary-color;
    display: table !important;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;

    td {
        @extend %text-normal;
        @extend %padding-m;
        line-height: 1;
    }

    tr:not(:last-child) td {
        padding-bottom: 0;        
    }

    tr td:first-child {
        color: $primary-color;
        text-align: right;
    }

    tr td:not(:last-child) {
        padding-right: 0;
    }
}

main {
    background: $bg-color;
    @extend %padding-top-btm-xxl;
    overflow-y: auto;

    section {
        > * {
            @extend %margin-top-btm-m;
            @extend %block-centered;
        }

        > table, > .dummy {
            @extend %margin-top-btm-l;
        }
    }

    > section {
        @extend %margin-top-btm-xl;

        > section {
            @extend %margin-top-btm-l;
        }
    }
}