#panelOne.addingPanel {
  width: 100%;
  overflow: visible;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#panelOne.addingPanel form {
  width: 100%;
}
#panelOne.addingPanel h2 {
  font-size: 27.5px;
  color: #439892;
  margin: -.5rem 0 1.5rem 0;
}
.input {
  display: block;
  height: 30px;
  padding: .1rem .25rem;
  margin: 0 auto 30px 0;
  color: #252323;
  border: 1px solid #c1bfb5;
}
.option_name.locked, .input.locked {
  color: #c1bfb5;
}
.input.locked {
  cursor: default;
  overflow: hidden;
}
.input.locked .myBloodyCaret {
  background: #c1bfb5;
}
.input.tofill .myBloodyCaret {
  background: #e0532c;
}
.input.tofill:hover .myBloodyCaret {
  background: #439892;
}
.nice-select, input.input {
  width: 100%;
}
.nice-select ul {
  width: 100%;
}
span.current {
  width: 100%;
  display: block;
  font-size: .85rem;
  padding-left: .5rem;
  padding-top: .2rem;
}
.info_form {
  display: block;
}
.info_form.part2 {
  position: relative;
}
.calendar {
  margin-left: calc(50% - 100px);
  margin-bottom: 30px;
  background: #fefdff;
}
.datepicker, .table-condensed {
  width: 200px;
  height: 194px;
  font-size: .8rem;
  overflow: hidden;
}
.datepicker {
  border: 1px solid #c1bfb5;
}
.datepicker table tr td, .datepicker table tr th {
  height: 25px;
  padding: 2.5px 5px;
}
.datepicker table tr td span {
  width: 50px;
}
.table-condensed>tbody>tr>td {
  height: 24px;
  padding: 0;
}
.datepicker table tr td, .datepicker table tr th {
  width: 28px !important;
}
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover , .datepicker table tr td span.focused, .datepicker table tr td span:hover, .datepicker table tr td.day:hover, .datepicker table tr td.focused {
  background: #439892;
  color: #fefdff;
}
.datepicker table tr td span.month:hover, .datepicker table tr td span.year:hover {
  background: #4caea7;
}
.input.textfield, textarea.input {
  font-size: .85rem;
}
#infoSave {
  background: #e0532c;
  color: #fefdff;
  border: 0;
  padding: .375rem 1.5rem;
  float: right;
}
#infoSave:hover {
  background: #439892;
}
textarea.input {
  resize: none;
  height: 112px;
}
.input.textfield.last, textarea.input {
  width: 100%;
}
.input:focus, input:focus{
  outline: none;
}
.input:hover .list {
  border-top-color: #c1bfb5;
}
@media screen and (min-width: 500px) {
  .calendar {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  .input.textfield.last, textarea.input {
    width: calc(100% - 230px);
  }  
}
@media screen and (min-width: 721px) {
  #panelOne.addingPanel {
    width: calc(100% - 5rem);
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .nice-select, input.input {
    width: 275px;
  }
  textarea.input {
    width: 500px;
  }
  .info_form {
    display: inline-block;
    vertical-align: top;
  }
  .info_form.part1 {
    width: 300px;
  }
  .info_form.part2 {
    float: right;
  }
  .calendar {
    top: -32px;
    bottom: auto;
  }
}
@media screen and (min-width: 1275px) {
  #panelOne.addingPanel {
    width: 950px;
  }
}