.grid {
  display: grid;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  color: #fff;
}

.grid#big_grid {
  position: relative;
  width: 600px;
  height: 600px;
  background: #ff6600;
}