@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  background: #fff;
}

body, button {
  font-size: 16px;
  font-family: 'Comfortaa', Roboto, Verdana, sans-serif;
  color: #2d2d2a;
}

.lipsum {
  padding: .25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  text-justify: inter-word;
}

#control_panel {
  margin: 1.5rem;
}

#control_panel button, footer a {
  transition: all 0.2s ease-out;
}

#control_panel button {
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
  background: #cfd2cd;
  cursor: pointer;
  outline: none;
}

#control_panel button:hover {
  background: #b5bab2;
}

#control_panel button:not(:first-of-type) {
  margin-left: .5rem;
}

#control_panel button#reset {
  background: #2274a5;
  color: #fff;
}

#control_panel button#reset:hover {
  background: #19567b;
}

#control_panel button#turbo {
  background: #2d2d2a;
  color: #fff;
}

#control_panel button#turbo:hover {
  background: #131311;
}

#stats {
  margin: 1.5rem 0 -.5rem 0;
  display: none;
}

#stats div {
  display: inline-block;
}

#stats .val {
  padding: 8px;
  margin-left: .5rem;
  background: #e2d0be;
  border-radius: 5px;
}

#dims {
  margin-left: .75rem;
}

footer {
  position: absolute;
  left: 50%;
  display: grid;
  bottom: 1rem;
  grid-template-columns: 50% 50%;
  width: 600px;
  text-align: left;
  transform: translateX(-50%);
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: #2274a5;
}

footer div + div {
  text-align: right;
}