* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.grid {
  margin: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  grid-template: auto / 50% 50%;
}

body.p_2_1 .grid {
  grid-template-columns: 2fr 1fr;
}

.grid#big_grid {
  width: 100%;
  height: 100vh;
  background: #72ad2d;
}

.info#w3_box, #btn_wrapper, #info_wrapper {
  position: absolute;
  z-index: 10;
}

#btn_wrapper {
  left: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}

.info#w3_box {
  bottom: 1rem;
  left: 1rem;
}

.info#w3_box a,
#btn_wrapper .btn {
  transition: all 0.2s ease-out;
}

.info#w3_box a:hover {
  color: #f6f930;
}

#btn_wrapper, #info_wrapper {
  top: 1rem;
}

#info_wrapper {
  right: 1rem;
}

#btn_wrapper .btn {
  cursor: pointer;
}

.info#back i {
  float: left;
  line-height: normal;
}

body.p_2_1 #btn_2_1,
#btn_wrapper .btn:hover {
  background: #f6f930;
  color: #666;
}

.info {
  background: #666;
  color: #fff;
  padding: .5rem;
  border-radius: 0 8px;
  text-align: center;
  box-shadow: 2.5px 2.5px 5px #333;
}

.info#grids {
  margin-top: 1rem;
}

.info .value {
  margin: .25rem 0;
  display: inline-block;
  font-size: 24px;
  color: #666;
  background: #f6f930;
  padding: .125rem .75rem;
  border-radius: 0 8px;
}