html {
  font-size: 14px;
}

body {
  line-height: 1.25;
}

nav, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  color: #10416d;
  margin: 0;
  padding: 0;
}

.lecture {
  display: block;
  background: linear-gradient(to right, #f0f6ff, #eee);
}

.lecture ul {
  margin: 1.25rem 0 0 0;
  padding: 0;
  list-style-type: none;
}

.lecture ul li {
  margin: .5rem 0;
  display: inline-block;
}

.lecture ul li a {
  color: #165b9a;
  text-decoration: none;
  padding: .25rem;
  margin-right: .5rem;
}

.lecture ul li a:hover {
  background: #ffaf3e;
  color: #111;
  border-radius: .5rem;
}

.block {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  border: 1px solid #ccc;
  padding: 1rem;
  background: #ffe7c5;
  color: #111;
}

.block.wide {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.block h2 {
  font-size: 2.75rem;
}

.block h3 {
  font-size: 1.75rem;
}

.block.blue h3 {
  font-size: 2rem;
}

.block.bigfont {
  font-size: 1.2rem;
}

.block.right {
  text-align: center;
  margin-top: 1.5rem;
}

.block.right img {
  display: block;
  padding: .25rem .5rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.block.blue {
  background: #d7e7f5;
  border: none;
}

.block a {
  color: #165b9a;
  font-weight: bold;
  text-decoration: none;
}

.block a:hover {
  background: #ffaf3e;
  color: #000;
}

.block a.pdfbutton:before {
  content: url("https://cs.pwr.edu.pl/cichon/images/pdflogosmall.jpg");
  margin-right: .5rem;
}

.block.wide.bigmargin {
  margin-top: 3rem;
}

.block.blue.classes {
  margin-top: .75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.block.blue.classes ol {
  margin-bottom: 0;
}

.block.blue.classes ul {
  padding-left: 1rem;
  margin: .75rem 0;
}

table.score {
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1rem;
}

table.score * {
  border: 1px solid #000;
}

table.score td {
  padding: .25rem;
}

ol, ul {
  list-style-position: inside;
}

ol {
  padding-left: 0;
}

ul.circle {
  list-style-type: circle;
}

ul.circle ol {
  list-style-position: outside;
  margin: 0 0 1rem 3rem;
}

#introduction {
  width: 100%;
}

#introduction h2 {
  line-height: 3.75rem;
  font-size: 3rem;
  font-weight: normal;
}

#introduction, .block.wide {
  margin-top: 1.5rem;
}

.latex {
  padding: .75rem .25rem;
  background: #000;
  color: #fff;
  font-size: 1.25rem;
}

#jump {
  margin-top: 1rem;
  display: inline-block;
  background: #165b9a;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  border-radius: .5rem;
  padding: .25rem .75rem;
  text-decoration: none;
}

#jump:hover {
  background: #ee9312;
}

@media screen and (min-width: 641px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 891px) {
  #introduction {
    display: grid;
    grid: auto / 41% 58%;
    grid-gap: 1% 1%;
  }

  .block.right {
    margin-top: 0;
  }
}