nav {
  margin: 1.5rem 0;
}

nav a.item {
  color: #10416d;
  display: block;
  background: #7bafde;
  border-radius: .25rem;
  text-decoration: none;
  text-align: center;
  padding: .75rem .5rem;
}

nav a.item:hover {
  background: #518ec4;
  color: #fff;
}

nav a.item .icon {
  float: left;
  margin-left: .625rem;
}

nav a.item .title {
  font-size: 2.5rem;
}

nav a.item .description {
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
}

footer {
  background: #518ec4;
}

footer ul {
  padding: 1.3rem 0;
  margin: 0;
}

footer ul li {
  list-style-type: none;
}

footer a {
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: none;
  color: #111;
  text-shadow: 1px 1px 1px #777;
}

footer a:hover {
  color: #fff;
}

@media screen and (max-width: 640px) {
  nav a:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  footer ul li {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 641px) {
  nav {
    display: grid;
    grid: auto auto auto / 1fr 1fr;
    grid-gap: 1.5rem .5625rem;
  }

  footer ul {
    margin-right: 1.6rem;
  }

  footer ul li {
    padding-left: 2rem;
    display: inline;
  }

  footer {
    text-align: right;
  }
}